Repository BLAST-WarpX/warpx, pull requests merged in 2020-03, with the labels that each got.

#761 EvolveE: Update Includes
  Source/FieldSolver/FiniteDifferenceSolver/EvolveE.cpp
Labels: cleaning

#762 Make comments in ShapeFactors.H compatible with Doxygen
  Source/Particles/ShapeFactors.H
Labels: cleaning, workflow: mini-PR

#737 Heuristic load balance based on number of particles and number of cells
  Source/Diagnostics/FieldIO.cpp
  Source/Diagnostics/WarpXIO.cpp
  Source/Evolve/WarpXEvolveEM.cpp
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/FieldSolver/WarpX_QED_Field_Pushers.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/Parallelization/WarpXRegrid.cpp
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Utils/WarpXAlgorithmSelection.H
  Source/Utils/WarpXAlgorithmSelection.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: load balancing

#746 Option to specify the type of physical species
  Docs/source/running_cpp/parameters.rst
  Examples/Physics_applications/laser_acceleration/inputs_2d
  Examples/Physics_applications/plasma_acceleration/inputs_2d_boost
  Examples/Physics_applications/uniform_plasma/inputs_3d
  Source/Initialization/PlasmaInjector.H
  Source/Initialization/PlasmaInjector.cpp
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Particles/SpeciesPhysicalProperties.H
  Source/Particles/WarpXParticleContainer.H
Labels: changes input script, component: tests

#769 Fix and automatically test USE_PSATD_PICSAR=TRUE
  Regression/WarpX-tests.ini
  Source/FieldSolver/PicsarHybridSpectralSolver/PicsarHybridSpectralSolver.cpp
Labels: component: PICSAR, component: spectral

#730 Fix electrostatic solver
  Docs/source/running_cpp/parameters.rst
  Examples/Tests/TwoParticle_electrostatic/inputs_3d
  Source/Evolve/Make.package
  Source/Evolve/WarpXEvolve.cpp
  Source/Particles/PhysicalParticleContainer.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: electrostatic

#763 add _rt suffix to particle shape factor functions
  Source/Particles/ShapeFactors.H
Labels: cleaning

#774 CONTRIBUTING.md: fix URL for Github forks
  CONTRIBUTING.md
Labels: component: documentation, workflow: mini-PR

#777 Remove "include fftw" statements
  Source/FieldSolver/SpectralSolver/SpectralFieldData.H
Labels: component: spectral

#780 Remove old electrostatic code
  Source/Diagnostics/ElectrostaticIO.cpp
  Source/Diagnostics/Make.package
  Source/Diagnostics/WarpXIO.cpp
  Source/Evolve/Make.package
  Source/Evolve/WarpXEvolveES.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/Laser/LaserParticleContainer.H
  Source/Parallelization/WarpXRegrid.cpp
  Source/Particles/Make.package
  Source/Particles/MultiParticleContainer.H
  Source/Particles/MultiParticleContainer.cpp
  Source/Particles/PhysicalParticleContainer.H
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Particles/WarpXParticleContainer.H
  Source/Particles/interpolate_cic.F90
  Source/Particles/push_particles_ES.F90
  Source/Utils/Make.package
  Source/Utils/utils_ES.F90
  Source/WarpX.H
  Source/WarpX.cpp
Labels: Fortran to C++, cleaning, component: electrostatic

#785 Include private members of classes in Doxygen documentation
  Docs/Doxyfile
  Source/Laser/LaserParticleContainer.cpp
Labels: component: documentation, workflow: mini-PR

#782 With RZ, always write out theta
  Source/Particles/PhysicalParticleContainer.cpp
Labels: component: diagnostics, workflow: mini-PR

#771 Single Precision: Regression Tolerance
  Regression/WarpX-tests.ini
Labels: component: tests

#798 Changed BL_ASSERT to AMREX_ALWAYS_ASSERT for user input
  Source/Particles/MultiParticleContainer.cpp
  Source/Utils/WarpXUtil.cpp
Labels: workflow: mini-PR

#799 Fix misspellings of the word 'auxiliary'
  Docs/source/visualization/advanced.rst
  Python/pywarpx/_libwarpx.py
Labels: cleaning, component: documentation

#793 Added RZ mode for charge and direct current deposition
  Source/Particles/Deposition/ChargeDeposition.H
  Source/Particles/Deposition/CurrentDeposition.H
  Source/Particles/WarpXParticleContainer.cpp
Labels: component: RZ, component: spectral, workflow: mini-PR

#802 Correct misprint in documentation
  Docs/source/developers/fields.rst
Labels: workflow: mini-PR

#796 Remove obsolete Fortran function declaration
  Source/FortranInterface/WarpX_f.H
Labels: Fortran to C++, cleaning, workflow: mini-PR

#804 Fixed FDTD coefficients of E push from F
  Source/FieldSolver/FiniteDifferenceSolver/EvolveE.cpp
Labels: bug, workflow: mini-PR

#765 Add limit to #parts in theta in RZ
  Docs/source/running_cpp/parameters.rst
  Examples/Physics_applications/laser_acceleration/inputs_2d_rz
  Examples/Tests/Langmuir/inputs_2d_multi_rz_rt
  Source/Initialization/PlasmaInjector.cpp
Labels: changes input script, component: RZ

#770 For diagnostics, added RZ modes of scalars, allowed different centerings
  Source/Diagnostics/FieldIO.H
  Source/Diagnostics/FieldIO.cpp
  Source/Diagnostics/WarpXIO.cpp
Labels: component: RZ, component: diagnostics

#805 PSATD Single precision
  .github/workflows/source/travis_matrix.py
  Docs/source/building/spectral.rst
  Regression/WarpX-tests.ini
  Regression/prepare_file_travis.py
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/GalileanAlgorithm.cpp
  Source/FieldSolver/SpectralSolver/SpectralFieldData.H
  Source/FieldSolver/SpectralSolver/SpectralFieldData.cpp
  Source/FieldSolver/SpectralSolver/SpectralKSpace.H
  Source/FieldSolver/SpectralSolver/SpectralKSpace.cpp
  Source/FieldSolver/SpectralSolver/WarpX_ComplexForFFT.H
  Source/Make.WarpX
  Source/Utils/WarpX_Complex.H
Labels: component: spectral

#727 Add ParticleHistogram Reduced Diagnostic
  Docs/source/running_cpp/parameters.rst
  Docs/source/visualization/reduced_diags.rst
  Source/Diagnostics/ReducedDiags/Make.package
  Source/Diagnostics/ReducedDiags/MultiReducedDiags.cpp
  Source/Diagnostics/ReducedDiags/ParticleHistogram.H
  Source/Diagnostics/ReducedDiags/ParticleHistogram.cpp
  Tools/read_raw_data.py
Labels: changes input script, component: diagnostics, component: documentation, enhancement

#753 Use C++ templates for the `EvolveF` and `ComputeDivE` function
  Source/Diagnostics/FieldIO.cpp
  Source/FieldSolver/FiniteDifferenceSolver/ComputeDivE.cpp
  Source/FieldSolver/FiniteDifferenceSolver/EvolveF.cpp
  Source/FieldSolver/FiniteDifferenceSolver/FiniteDifferenceSolver.H
  Source/FieldSolver/FiniteDifferenceSolver/Make.package
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/FieldSolver/WarpX_FDTD.H
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: core

#772 For RZ, generalized the centering of the inverse volume scaling of J and rho
  Source/FieldSolver/WarpXPushFieldsEM.cpp
Labels: component: RZ

#783 Added Python wrapper of charge density arrays
  Python/pywarpx/_libwarpx.py
  Python/pywarpx/fields.py
  Source/Python/WarpXWrappers.cpp
  Source/WarpX.H
Labels: component: Python

#792 Add AlwaysAssert with std::string message
  Source/Particles/MultiParticleContainer.cpp
  Source/Utils/WarpXUtil.H
  Source/Utils/WarpXUtil.cpp
Labels: cleaning, workflow: mini-PR

#698 Add QED particle creaction routines
  Docs/source/running_cpp/parameters.rst
  Examples/Modules/qed/breit_wheeler/inputs_2d_tau_init
  Examples/Modules/qed/breit_wheeler/inputs_3d_optical_depth_evolution
  Examples/Modules/qed/quantum_synchrotron/inputs_2d_tau_init
  Examples/Tests/photon_pusher/analysis_photon_pusher.py
  Examples/Tests/radiation_reaction/test_const_B_analytical/inputs_3d
  Source/Diagnostics/ParticleIO.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/Initialization/PlasmaInjector.cpp
  Source/Make.WarpX
  Source/Particles/ElementaryProcess/Make.package
  Source/Particles/ElementaryProcess/QEDInternals/BreitWheelerDummyTable.H
  Source/Particles/ElementaryProcess/QEDInternals/BreitWheelerEngineInnards.H
  Source/Particles/ElementaryProcess/QEDInternals/BreitWheelerEngineTableBuilder.H
  Source/Particles/ElementaryProcess/QEDInternals/BreitWheelerEngineTableBuilder.cpp
  Source/Particles/ElementaryProcess/QEDInternals/BreitWheelerEngineWrapper.H
  Source/Particles/ElementaryProcess/QEDInternals/BreitWheelerEngineWrapper.cpp
  Source/Particles/ElementaryProcess/QEDInternals/Make.package
  Source/Particles/ElementaryProcess/QEDInternals/QedChiFunctions.H
  Source/Particles/ElementaryProcess/QEDInternals/QedTableParserHelperFunctions.H
  Source/Particles/ElementaryProcess/QEDInternals/QedWrapperCommons.H
  Source/Particles/ElementaryProcess/QEDInternals/QuantumSyncDummyTable.H
  Source/Particles/ElementaryProcess/QEDInternals/QuantumSyncEngineInnards.H
  Source/Particles/ElementaryProcess/QEDInternals/QuantumSyncEngineTableBuilder.H
  Source/Particles/ElementaryProcess/QEDInternals/QuantumSyncEngineTableBuilder.cpp
  Source/Particles/ElementaryProcess/QEDInternals/QuantumSyncEngineWrapper.H
  Source/Particles/ElementaryProcess/QEDInternals/QuantumSyncEngineWrapper.cpp
  Source/Particles/ElementaryProcess/QEDPairGeneration.H
  Source/Particles/ElementaryProcess/QEDPhotonEmission.H
  Source/Particles/MultiParticleContainer.H
  Source/Particles/MultiParticleContainer.cpp
  Source/Particles/ParticleCreation/DefaultInitialization.H
  Source/Particles/ParticleCreation/FilterCopyTransform.H
  Source/Particles/PhotonParticleContainer.H
  Source/Particles/PhotonParticleContainer.cpp
  Source/Particles/PhysicalParticleContainer.H
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Particles/WarpXParticleContainer.H
Labels: component: QED, enhancement

#812 openPMD-api: 0.11.0+
  Docs/source/building/openpmd.rst
  Source/Diagnostics/WarpXOpenPMD.cpp
  Source/Diagnostics/requirements.txt
  Source/Make.WarpX
Labels: component: documentation, component: openPMD, component: third party, install

#807 Small fixes to Python to better handle particle weights
  Python/pywarpx/PGroup.py
  Python/pywarpx/WarpInterface.py
Labels: component: Python, workflow: mini-PR

#811 Add some WarpXUtilMsg::AlwaysAssert in particle containers
  Source/Particles/MultiParticleContainer.cpp
  Source/Particles/PhysicalParticleContainer.cpp
Labels: cleaning, workflow: mini-PR

#775 Acknowledge funding agency and contributors in doc
  Docs/source/acknowledge_us.rst
  Docs/source/acknowledgements.rst
  Docs/source/index.rst
Labels: component: documentation, workflow: mini-PR

#815 Density threshold set to epsilon by default instead of 0.
  Docs/source/running_cpp/parameters.rst
  Source/Initialization/PlasmaInjector.H
Labels: workflow: mini-PR

#795 Averages to cell centers
  Source/Diagnostics/Average.H
  Source/Diagnostics/Average.cpp
  Source/Diagnostics/FieldIO.H
  Source/Diagnostics/FieldIO.cpp
  Source/Diagnostics/Make.package
Labels: component: diagnostics, enhancement

#809 Diagnostics reorganization skeleton
  Source/Diagnostics/Diagnostics.H
  Source/Diagnostics/Diagnostics.cpp
  Source/Diagnostics/FieldIO.cpp
  Source/Diagnostics/FlushFormat.H
  Source/Diagnostics/FlushFormatPlotfile.H
  Source/Diagnostics/FlushFormatPlotfile.cpp
  Source/Diagnostics/FullDiagnostics.H
  Source/Diagnostics/FullDiagnostics.cpp
  Source/Diagnostics/Make.package
  Source/Diagnostics/MultiDiagnostics.H
  Source/Diagnostics/MultiDiagnostics.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: cleaning, component: diagnostics

#791 Remove costs full diagnostic
  Python/pywarpx/picmi.py
  Regression/WarpX-tests.ini
  Source/Diagnostics/FieldIO.cpp
  Source/Diagnostics/WarpXIO.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: diagnostics

#790 Add costs reduced diagnostic
  Docs/source/running_cpp/parameters.rst
  Examples/Tests/reduced_diags/analysis_reduced_diags_loadbalancecosts.py
  Examples/Tests/reduced_diags/inputs_loadbalancecosts
  Regression/WarpX-tests.ini
  Source/Diagnostics/ReducedDiags/LoadBalanceCosts.H
  Source/Diagnostics/ReducedDiags/LoadBalanceCosts.cpp
  Source/Diagnostics/ReducedDiags/Make.package
  Source/Diagnostics/ReducedDiags/MultiReducedDiags.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/Parallelization/WarpXRegrid.cpp
  Source/WarpX.H
Labels: component: diagnostics

#825 Add SmartCreate functor alongside SmartCopy
  Source/Particles/MultiParticleContainer.H
  Source/Particles/ParticleCreation/Make.package
  Source/Particles/ParticleCreation/SmartCopy.H
  Source/Particles/ParticleCreation/SmartCreate.H
  Source/Particles/ParticleCreation/SmartUtils.H
  Source/Particles/ParticleCreation/SmartUtils.cpp
Labels: enhancement

#819 Add capability to select fields to dump
  Source/Diagnostics/Diagnostics.H
  Source/Diagnostics/Diagnostics.cpp
  Source/Diagnostics/FieldIO.cpp
  Source/Utils/WarpXUtil.H
  Source/Utils/WarpXUtil.cpp
  Source/WarpX.H
Labels: cleaning, component: diagnostics

#824 plot_int for new diagnostics
  Source/Diagnostics/Diagnostics.H
  Source/Diagnostics/Diagnostics.cpp
  Source/Diagnostics/FlushFormat.H
  Source/Diagnostics/FlushFormatPlotfile.H
  Source/Diagnostics/FlushFormatPlotfile.cpp
  Source/Diagnostics/MultiDiagnostics.H
  Source/Diagnostics/MultiDiagnostics.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/Initialization/WarpXInitData.cpp
Labels: changes input script, component: diagnostics

#833 ES Solver: Runtime Option Clean Up
  Docs/Doxyfile
  GNUmakefile
  Source/Evolve/WarpXEvolve.cpp
  Source/Make.WarpX
Labels: cleaning, component: electrostatic, install

#832 Move kernel Average::ToCellCenter to Average.H
  Source/Diagnostics/Average.H
  Source/Diagnostics/Average.cpp
Labels: component: diagnostics, workflow: WIP, workflow: mini-PR

#837 Fix AverageAndPackFields Copy
  Source/Diagnostics/FieldIO.cpp
Labels: bug, bug: affects latest release, component: diagnostics

#810 Updated Python interface for Python_Langmuir_rz_multimode test
  Examples/Tests/Langmuir/PICMI_inputs_langmuir_rz_multimode_analyze.py
  Python/pywarpx/_libwarpx.py
  Python/pywarpx/fields.py
  Source/Python/WarpXWrappers.cpp
Labels: component: Python, component: tests

#839 Add tolerance to all test, default 1.e-14
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
Labels: component: tests

#827 Can plot raw fields with new diags
  Source/Diagnostics/Diagnostics.H
  Source/Diagnostics/Diagnostics.cpp
  Source/Diagnostics/FlushFormat.H
  Source/Diagnostics/FlushFormatPlotfile.H
  Source/Diagnostics/FlushFormatPlotfile.cpp
  Source/Diagnostics/Interpolate.H
  Source/Diagnostics/Interpolate.cpp
  Source/Diagnostics/Make.package
  Source/Evolve/WarpXEvolve.cpp
  Source/WarpX.H
Labels: changes input script, component: diagnostics

#841 Diagnostics: Implicit Int Conversion Warning
  Source/Diagnostics/ReducedDiags/LoadBalanceCosts.cpp
Labels: component: diagnostics, warning

#789 Ascent in situ integration: add support for particles
  Docs/source/visualization/ascent.rst
  Source/Diagnostics/WarpXIO.cpp
Labels: component: diagnostics

#836 New diagnostics support RZ
  Source/Diagnostics/CellCenterFunctor.H
  Source/Diagnostics/CellCenterFunctor.cpp
  Source/Diagnostics/ComputeDiagFunctor.H
  Source/Diagnostics/Diagnostics.H
  Source/Diagnostics/Diagnostics.cpp
  Source/Diagnostics/Make.package
  Source/Diagnostics/MultiDiagnostics.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: RZ, component: diagnostics

#842 Add load balance options documentation
  Docs/source/running_cpp/parameters.rst
Labels: component: documentation

#849 Initialize fields in guard cells when using external grid function
  Source/Initialization/WarpXInitData.cpp
Labels: bug, bug: affects latest release, component: core

#776 Updated Profiling information in running_cpp
  Docs/source/running_cpp/profiling.rst
Labels: component: documentation

#844 Add a few additional diags (divE etc.)
  Source/Diagnostics/ComputeDiagFunctors/CellCenterFunctor.H
  Source/Diagnostics/ComputeDiagFunctors/CellCenterFunctor.cpp
  Source/Diagnostics/ComputeDiagFunctors/ComputeDiagFunctor.H
  Source/Diagnostics/ComputeDiagFunctors/DivBFunctor.H
  Source/Diagnostics/ComputeDiagFunctors/DivBFunctor.cpp
  Source/Diagnostics/ComputeDiagFunctors/DivEFunctor.H
  Source/Diagnostics/ComputeDiagFunctors/DivEFunctor.cpp
  Source/Diagnostics/ComputeDiagFunctors/Make.package
  Source/Diagnostics/ComputeDiagFunctors/PartPerCellFunctor.H
  Source/Diagnostics/ComputeDiagFunctors/PartPerCellFunctor.cpp
  Source/Diagnostics/ComputeDiagFunctors/PartPerGridFunctor.H
  Source/Diagnostics/ComputeDiagFunctors/PartPerGridFunctor.cpp
  Source/Diagnostics/Diagnostics.H
  Source/Diagnostics/Diagnostics.cpp
  Source/Diagnostics/FieldIO.cpp
  Source/Diagnostics/FlushFormats/FlushFormat.H
  Source/Diagnostics/FlushFormats/FlushFormatPlotfile.H
  Source/Diagnostics/FlushFormats/FlushFormatPlotfile.cpp
  Source/Diagnostics/FlushFormats/Make.package
  Source/Diagnostics/Make.package
  Source/Utils/Average.H
  Source/Utils/Average.cpp
  Source/Utils/Interpolate.H
  Source/Utils/Interpolate.cpp
  Source/Utils/Make.package
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: core, component: diagnostics

#735 Add Initial Distribution Test
  Docs/source/running_cpp/parameters.rst
  Examples/Tests/initial_distribution/analysis_distribution.py
  Examples/Tests/initial_distribution/inputs
  Regression/WarpX-tests.ini
  Tools/read_raw_data.py
Labels: component: tests

#854 Tests: Fix Bool Switch Typo OMP
  Regression/WarpX-tests.ini
Labels: component: tests

#829 Costs vector of (pointer to) vector
  Examples/Tests/reduced_diags/analysis_reduced_diags_loadbalancecosts.py
  Examples/Tests/reduced_diags/inputs_loadbalancecosts
  Regression/WarpX-tests.ini
  Source/Diagnostics/ReducedDiags/LoadBalanceCosts.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/FieldSolver/WarpX_QED_Field_Pushers.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/Laser/LaserParticleContainer.cpp
  Source/Parallelization/WarpXRegrid.cpp
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Particles/WarpXParticleContainer.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: cleaning, component: load balancing

#847 [mini-PR] Read species distribution from OPMD file
  Docs/source/running_cpp/parameters.rst
  Source/Initialization/PlasmaInjector.H
  Source/Initialization/PlasmaInjector.cpp
  Source/Particles/PhysicalParticleContainer.H
  Source/Particles/PhysicalParticleContainer.cpp
Labels: changes input script, component: documentation, component: openPMD

#850 [Tiny PR] Ignore python build
  .gitignore
Labels: component: Python

#860 [mini] Travis CI: do not overwrite numprocs
  Regression/WarpX-tests.ini
  Regression/prepare_file_travis.py
Labels: component: tests

#852 [mini-PR] Fix bug in Breit-Wheeler engine
  Examples/Modules/qed/breit_wheeler/analysis_3d_optical_depth_evolution.py
  Examples/Modules/qed/breit_wheeler/inputs_3d_optical_depth_evolution
  Source/Particles/ElementaryProcess/QEDPairGeneration.H
Labels: bug, bug: affects latest release, component: QED

#301 Documentation update - towards full SI
  Docs/source/running_cpp/PWFA.png
  Docs/source/running_cpp/pwfa.rst
  Docs/source/running_cpp/running_cpp.rst
  Docs/source/theory/picsar_theory.rst
  Docs/source/visualization/advanced.rst
Labels: component: documentation

#843 Remove compiler warnings
  Source/Diagnostics/Diagnostics.cpp
  Source/Diagnostics/FlushFormats/FlushFormat.H
  Source/Diagnostics/FlushFormats/FlushFormatPlotfile.H
  Source/Diagnostics/ReducedDiags/FieldEnergy.cpp
  Source/Diagnostics/ReducedDiags/LoadBalanceCosts.cpp
  Source/Diagnostics/ReducedDiags/MultiReducedDiags.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/FieldSolver/ElectrostaticSolver.cpp
  Source/FieldSolver/FiniteDifferenceSolver/EvolveF.cpp
  Source/FieldSolver/FiniteDifferenceSolver/FiniteDifferenceAlgorithms/CartesianCKCAlgorithm.H
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/GalileanAlgorithm.cpp
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/SpectralBaseAlgorithm.H
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/FieldSolver/WarpX_FDTD.H
  Source/FieldSolver/WarpX_QED_Field_Pushers.cpp
  Source/Filter/Filter.cpp
  Source/Initialization/InjectorMomentum.cpp
  Source/Laser/LaserParticleContainer.cpp
  Source/Laser/LaserProfilesImpl/LaserProfileFromTXYEFile.cpp
  Source/Parallelization/WarpXRegrid.cpp
  Source/Particles/Collision/ElasticCollisionPerez.H
  Source/Particles/Deposition/ChargeDeposition.H
  Source/Particles/Deposition/CurrentDeposition.H
  Source/Particles/PhotonParticleContainer.cpp
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Particles/RigidInjectedParticleContainer.cpp
  Source/Particles/SpeciesPhysicalProperties.H
  Source/Particles/WarpXParticleContainer.cpp
  Source/Utils/WarpXProfilerWrapper.H
Labels: bug, cleaning, warning

#861 [mini-PR] Fix energy calculation for photons in reduced diagnostics
  Examples/Tests/reduced_diags/analysis_reduced_diags.py
  Examples/Tests/reduced_diags/inputs
  Source/Diagnostics/ReducedDiags/ParticleEnergy.cpp
Labels: bug, bug: affects latest release, component: diagnostics

#864 [Tiny-PR] Added blocking factor in picmi
  Python/pywarpx/picmi.py
Labels: bug, bug: affects latest release, component: PICMI, component: Python

#865 doc: fix formatting for ascent yaml examples
  Docs/source/visualization/ascent.rst
Labels: component: documentation

#866 [mini-PR] Bug fix in ApplyInverseVolumeScalingToCurrentDensity
  Source/FieldSolver/WarpXPushFieldsEM.cpp
Labels: bug, component: RZ

#863 [mini-PR] Clarifying ionizable particle charge
  Docs/source/running_cpp/parameters.rst
  Python/pywarpx/picmi.py
Labels: component: Python, component: documentation

#767 Current effects in QED corrections
  Source/FieldSolver/WarpX_QED_Field_Pushers.cpp
  Source/FieldSolver/WarpX_QED_K.H
Labels: component: QED, enhancement

#870 Make Build System: No Public Includes
  Source/BoundaryConditions/Make.package
  Source/Diagnostics/ComputeDiagFunctors/Make.package
  Source/Diagnostics/FlushFormats/Make.package
  Source/Diagnostics/Make.package
  Source/Diagnostics/ReducedDiags/Make.package
  Source/Evolve/Make.package
  Source/FieldSolver/FiniteDifferenceSolver/Make.package
  Source/FieldSolver/Make.package
  Source/FieldSolver/PicsarHybridSpectralSolver/Make.package
  Source/FieldSolver/SpectralSolver/Make.package
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/Make.package
  Source/Filter/Make.package
  Source/FortranInterface/Make.package
  Source/Initialization/Make.package
  Source/Laser/Make.package
  Source/Make.WarpX
  Source/Make.package
  Source/Parallelization/Make.package
  Source/Parser/Make.package
  Source/Particles/Collision/Make.package
  Source/Particles/Deposition/Make.package
  Source/Particles/ElementaryProcess/Make.package
  Source/Particles/ElementaryProcess/QEDInternals/Make.package
  Source/Particles/Gather/Make.package
  Source/Particles/Make.package
  Source/Particles/ParticleCreation/Make.package
  Source/Particles/Pusher/Make.package
  Source/Particles/Sorting/Make.package
  Source/Python/Make.package
  Source/Utils/Make.package
Labels: install
