Repository BLAST-WarpX/warpx, pull requests merged in 2021-09, with the labels that each got.

#2262 Docs: Perlmutter Aug 30th Update
  Docs/source/install/hpc/perlmutter.rst
Labels: component: documentation, machine / system

#2267 [mini-PR] Improved doc on fwd headers
  Docs/source/developers/repo_organization.rst
Labels: component: documentation

#2265 Silence unused parameters errors in FlushFormatSensei
  Source/Diagnostics/FlushFormats/FlushFormatSensei.cpp
Labels: cleaning, component: diagnostics

#2271 Bug fix in call to RhoFunctor for RZ modes
  Examples/Physics_applications/laser_acceleration/inputs_2d_rz
  Regression/Checksum/benchmarks_json/LaserAccelerationRZ.json
  Source/Diagnostics/FullDiagnostics.cpp
Labels: bug, bug: affects latest release, component: diagnostics, component: RZ

#2270 Release 21.09
  CMakeLists.txt
  Docs/source/conf.py
  LICENSE.txt
  Python/setup.py
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/PICSAR.cmake
  run_test.sh
  setup.py
Labels: component: documentation, component: third party

#2255 [Mini-PR] Initialising the size BaseFab on Device
  Source/EmbeddedBoundary/WarpXFaceExtensions.cpp
Labels: component: boundary

#2272 Docs: Summit w/o Darshan
  Docs/source/install/hpc/summit.rst
  Tools/BatchScripts/batch_summit.sh
  Tools/BatchScripts/script_profiling_summit.sh
Labels: component: documentation, machine / system

#2241 Docs: Summit Ascent Update
  Docs/source/install/hpc/summit.rst
Labels: component: documentation, component: diagnostics

#2276 AMReX Update: SENSEI
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party, component: diagnostics

#2170 CI: Build EB
  .github/workflows/cuda.yml
  .github/workflows/hip.yml
  .github/workflows/intel.yml
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
  Docs/source/install/cmake.rst
Labels: backend: cuda, component: tests, backend: hip, backend: dpc++, machine / system, component: boundary

#2275 Summit: PICMI Update
  Docs/source/install/cmake.rst
  Docs/source/install/hpc/cori.rst
  Docs/source/install/hpc/summit.rst
Labels: component: documentation, install, machine / system, component: Python

#2283 Summit: Work-Around IBM MPI Collectives
  Tools/BatchScripts/batch_summit.sh
  Tools/BatchScripts/batch_summit_power9.sh
  Tools/BatchScripts/script_profiling_summit.sh
Labels: bug, component: third party, bug: affects latest release, machine / system, component: diagnostics, component: parallelization, workaround

#2287 Fix documentation for compiling on Spock
  Docs/source/install/hpc/spock.rst
Labels: component: documentation, install, backend: hip, machine / system

#2279 CI: EB on Intel DPC++/SYCL
  .github/workflows/intel.yml
Labels: bug, component: tests, component: third party, backend: dpc++, component: boundary

#2274 Allow Restarts and Checkpoints in python picmi
  Python/pywarpx/picmi.py
Labels: component: PICMI, component: checkpoint/restart

#2291 Perlmutter: CMake 3.22 Preview
  Docs/source/install/hpc/perlmutter.rst
Labels: backend: cuda, component: documentation, install, machine / system

#2284 Fix floating point exception issue in single precision
  Source/Particles/LaserParticleContainer.cpp
Labels: bug, bug: affects latest release

#2282 Fix uninitialized particle data
  Source/Particles/PhysicalParticleContainer.cpp
Labels: bug, bug: affects latest release, component: core

#2278 Include Diagnostics in Evolve Timer
  Source/Evolve/WarpXEvolve.cpp
Labels: bug, bug: affects latest release, component: core

#2273 Initialize physical_species
  Source/Initialization/PlasmaInjector.H
Labels: bug, bug: affects latest release, component: core

#2286 Added execution of beforeEsolve and afterEsolve callbacks when the electrostatic solver is used
  Source/Evolve/WarpXEvolve.cpp
Labels: component: Python

#2280 Various updates related to defining embedded boundaries in Python
  Examples/Tests/ElectrostaticSphereEB/PICMI_inputs_3d.py
  Python/pywarpx/Constants.py
  Python/pywarpx/picmi.py
Labels: cleaning, component: PICMI, component: boundary

#2296 Remove unused variable from backtransformed diagnostics
  Source/Diagnostics/BackTransformedDiagnostic.H
  Source/Diagnostics/BackTransformedDiagnostic.cpp
Labels: cleaning, component: diagnostics

#2245 Enable particle creation from binary collisions
  Source/Particles/Collision/BinaryCollision.H
  Source/Particles/Collision/BinaryCollisionUtils.H
  Source/Particles/Collision/ElasticCollisionPerez.H
  Source/Particles/Collision/PairWiseCoulombCollisionFunc.H
  Source/Particles/WarpXParticleContainer.H
Labels: component: collisions

#2248 Store and read in (if present) dmaps in checkpoint files
  Source/Diagnostics/FlushFormats/FlushFormatCheckpoint.H
  Source/Diagnostics/FlushFormats/FlushFormatCheckpoint.cpp
  Source/Diagnostics/WarpXIO.cpp
  Source/WarpX.H
Labels: component: load balancing, component: checkpoint/restart

#2288 Docs: Spock CMake 3.20.2, ROCm 4.3.0
  Docs/source/install/hpc/spock.rst
Labels: backend: cuda, component: documentation, install, backend: hip, machine / system

#2299 AMReX/PICSAR: Weekly Update
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/PICSAR.cmake
  run_test.sh
Labels: component: third party

#2289 Move QEDEvents() before OneStep functions
  Examples/Modules/qed/breit_wheeler/analysis_core.py
  Examples/Modules/qed/breit_wheeler/analysis_opmd.py
  Examples/Modules/qed/breit_wheeler/analysis_yt.py
  Examples/Modules/qed/breit_wheeler/inputs_2d
  Examples/Modules/qed/breit_wheeler/inputs_3d
  Examples/Modules/qed/quantum_synchrotron/analysis.py
  Examples/Modules/qed/quantum_synchrotron/inputs_2d
  Examples/Modules/qed/quantum_synchrotron/inputs_3d
  Regression/Checksum/benchmarks_json/qed_breit_wheeler_2d.json
  Regression/Checksum/benchmarks_json/qed_breit_wheeler_3d.json
  Regression/Checksum/benchmarks_json/qed_quantum_sync_2d.json
  Regression/Checksum/benchmarks_json/qed_quantum_sync_3d.json
  Source/Evolve/WarpXEvolve.cpp
  Source/Particles/Pusher/UpdatePositionPhoton.H
Labels: bug, component: QED, bug: affects latest release

#2297 Set EB (electrostatic) potential with a function of space and time
  Source/FieldSolver/ElectrostaticSolver.H
  Source/FieldSolver/ElectrostaticSolver.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: electrostatic, component: boundary

#2312 CI: Skip & Fail Draft PRs
  .azure-pipelines.yml
  .github/workflows/cuda.yml
  .github/workflows/hip.yml
  .github/workflows/intel.yml
  .github/workflows/macos.yml
  .github/workflows/source.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Labels: component: tests

#2308 Evolve: Mark Step in Profile
  Source/Evolve/WarpXEvolve.cpp
Labels: component: core

#2314 Performance: ApplyStencil w/o Temporaries
  Source/Filter/Filter.cpp
Labels: Performance optimization, component: core

#2311 Docs: Link Older Developer Tutorial
  Docs/source/developers/developers.rst
Labels: component: documentation

#2261 Rename WarpXWrappers.(h->H)
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Python/WarpXWrappers.H
  Source/Python/WarpXWrappers.cpp
  Source/Python/WarpX_py.H
  Source/WarpX.cpp
Labels: cleaning, component: Python

#2316 AMReX/PICSAR: Weekly Update
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/PICSAR.cmake
  run_test.sh
Labels: component: third party

#2318 Fix Bug in PSATD Restart with Time Averaging
  Examples/Tests/restart/analysis_restart.py
  Regression/Checksum/benchmarks_json/restart_psatd_time_avg.json
  Regression/WarpX-tests.ini
  Source/Diagnostics/FlushFormats/FlushFormatCheckpoint.cpp
  Source/Diagnostics/WarpXIO.cpp
  Source/WarpX.H
Labels: bug, component: spectral, bug: affects latest release, component: checkpoint/restart

#2320 Python CI: Only 2 Ranks
  Examples/Tests/pass_mpi_communicator/PICMI_inputs_2d.py
  Regression/WarpX-tests.ini
Labels: bug, component: tests, bug: affects latest release, component: Python

#2321 leveling_thinning: 2 MPI Ranks
  Regression/Checksum/benchmarks_json/leveling_thinning.json
  Regression/WarpX-tests.ini
Labels: bug, component: tests, bug: affects latest release

#2324 Docs: Cori Newer CMake
  Docs/source/install/hpc/cori.rst
Labels: component: documentation, machine / system

#2285 External Poisson solver: wrappers to copy the full domain rho and phi between C++ and Python
  Examples/Physics_applications/capacitive_discharge/PICMI_inputs_2d.py
  Examples/Physics_applications/capacitive_discharge/analysis.py
  Python/pywarpx/_libwarpx.py
  Python/pywarpx/fields.py
  Regression/WarpX-tests.ini
  Source/Python/WarpXWrappers.cpp
Labels: component: Python

#2326 Move RandomizeVelocity to ParticleUtils
  Source/Particles/Collision/BackgroundMCCCollision.cpp
  Source/Particles/Collision/MCCScattering.H
  Source/Utils/ParticleUtils.H
Labels: component: collisions

#2328 Docs: Cori V100 GPU Job Script
  Docs/source/install/hpc/cori.rst
  Tools/BatchScripts/batch_cori_gpu.sh
Labels: component: documentation, machine / system

#2329 Initialize the back-transformed diagnostic buffers to 0
  Source/Diagnostics/BackTransformedDiagnostic.cpp
Labels: bug: affects latest release, component: diagnostics

#2266 Exchange fewer guard cells with standard PSATD solver
  Source/Evolve/WarpXEvolve.cpp
  Source/Parallelization/GuardCellManager.H
  Source/Parallelization/GuardCellManager.cpp
Labels: Performance optimization, component: spectral, component: parallelization

#2334 Print Restart: dt,dx,dy,dz
  Source/Evolve/WarpXComputeDt.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/WarpX.H
Labels: component: checkpoint/restart

#2333 Fix nvcc compilation bug
  Source/Particles/ParticleBoundaryBuffer.H
Labels: bug, backend: cuda, bug: affects latest release

#2317 Python Install Env Vars: All CAPS
  Docs/source/install/cmake.rst
  setup.py
Labels: install, component: Python

#2338 DPC++: Disable -fPIC
  .github/workflows/intel.yml
Labels: component: tests, backend: dpc++, workaround

#2335 Restart: Handle Header File Read Errors
  Source/Diagnostics/BTD_Plotfile_Header_Impl.cpp
  Source/Diagnostics/FlushFormats/FlushFormatCheckpoint.cpp
  Source/Diagnostics/FlushFormats/FlushFormatPlotfile.H
  Source/Diagnostics/FlushFormats/FlushFormatPlotfile.cpp
  Source/Diagnostics/ParticleIO.cpp
  Source/Diagnostics/WarpXIO.cpp
Labels: bug, bug: affects latest release, component: diagnostics, component: checkpoint/restart

#2341 ParticleIO: Fix All Container Restart
  Source/Diagnostics/ParticleIO.cpp
  Source/Diagnostics/WarpXIO.cpp
Labels: bug, bug: affects latest release, component: diagnostics, component: checkpoint/restart

#2339 Doc: Disable CCache
  Docs/source/install/cmake.rst
  setup.py
Labels: component: documentation, install, component: Python

#2348 AMReX/PICSAR: Weekly Update
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#2349 Summit: Known Issues Since RHEL8
  Docs/source/install/hpc/summit.rst
Labels: machine / system, workaround

#2323 SumBoundary: Use Fewer Guard Cells for J/rho
  Source/Parallelization/WarpXComm.cpp
  Source/Parallelization/WarpXSumGuardCells.H
Labels: Performance optimization, component: parallelization

#2304 Comoving PSATD: New Input psatd.use_default_v_comoving
  Examples/Tests/comoving/inputs_2d_hybrid
  Source/WarpX.cpp
Labels: component: spectral, changes input scripts / defaults

#2353 Stencil: Fix non-3D Compiles on GPU
  .github/workflows/hip.yml
  Source/Filter/Filter.cpp
Labels: bug, backend: cuda, backend: hip, backend: dpc++

#2313 Update read_raw_data to RZ (with multiple modes)
  Tools/PostProcessing/read_raw_data.py
Labels: component: post-processing, component: RZ

#2359 CI: Update HIP Repo URL
  .github/workflows/dependencies/hip.sh
Labels: component: tests, backend: hip

#2362 Update AMReX: Vendor Superupdate
  .github/workflows/intel.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: backend: cuda, component: third party, backend: dpc++

#2350 Rigid injected species: Remove unused function and variables
  Examples/Modules/RigidInjection/inputs_2d_BoostedFrame
  Examples/Modules/RigidInjection/inputs_2d_LabFrame
  Examples/Physics_applications/laser_acceleration/inputs_2d_boost
  Examples/Physics_applications/plasma_acceleration/inputs_2d_boost
  Examples/Physics_applications/plasma_acceleration/inputs_3d_boost
  Examples/Tests/comoving/inputs_2d_hybrid
  Examples/Tests/galilean/inputs_2d_hybrid
  Examples/Tests/initial_distribution/inputs
  Examples/Tests/multi_J/inputs_2d
  Examples/Tests/multi_J/inputs_rz
  Examples/Tests/restart/inputs
  Source/Particles/RigidInjectedParticleContainer.H
  Source/Particles/RigidInjectedParticleContainer.cpp
  Tools/LibEnsemble/sim/inputs
Labels: cleaning

#2358 CMake: More Robust git STRIP
  cmake/WarpXFunctions.cmake
Labels: bug, install, bug: affects latest release

#2352 Style: Old BTD Definitions
  Source/Diagnostics/BackTransformedDiagnostic.H
  Source/Diagnostics/BackTransformedDiagnostic.cpp
Labels: cleaning, component: diagnostics
