Repository BLAST-WarpX/warpx, pull requests merged in 2021-05, with the labels that each got.

#1829 Implement div(B) Cleaning With FDTD
  Examples/Tests/divb_cleaning/analysis.py
  Examples/Tests/divb_cleaning/inputs_3d
  Regression/Checksum/benchmarks_json/divb_cleaning_3d.json
  Regression/WarpX-tests.ini
  Source/Diagnostics/Diagnostics.cpp
  Source/Diagnostics/FullDiagnostics.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/FieldSolver/FiniteDifferenceSolver/CMakeLists.txt
  Source/FieldSolver/FiniteDifferenceSolver/EvolveB.cpp
  Source/FieldSolver/FiniteDifferenceSolver/EvolveG.cpp
  Source/FieldSolver/FiniteDifferenceSolver/FiniteDifferenceSolver.H
  Source/FieldSolver/FiniteDifferenceSolver/Make.package
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/Parallelization/GuardCellManager.H
  Source/Parallelization/GuardCellManager.cpp
  Source/Parallelization/WarpXComm.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: FDTD, enhancement

#1933 [mini-PR] Fix warning concerning possibly uninitialized arrays in CurrentDeposition.H
  Source/Particles/Deposition/CurrentDeposition.H
Labels: cleaning, warning

#1928 [min-PR] QED module: use function provided by PICSAR to calculate gamma factor for photons
  Source/Particles/ElementaryProcess/QEDInternals/BreitWheelerEngineWrapper.H
Labels: component: QED

#1867 Guard Cells with PSATD: Fill With Inverse FFT, Damp Fields
  Regression/Checksum/benchmarks_json/averaged_galilean_2d_psatd.json
  Regression/Checksum/benchmarks_json/averaged_galilean_2d_psatd_hybrid.json
  Regression/Checksum/benchmarks_json/averaged_galilean_3d_psatd.json
  Regression/Checksum/benchmarks_json/averaged_galilean_3d_psatd_hybrid.json
  Regression/Checksum/benchmarks_json/comoving_hybrid_2d.json
  Regression/Checksum/benchmarks_json/galilean_hybrid_2d.json
  Regression/Checksum/benchmarks_json/pml_psatd_dive_divb_cleaning.json
  Regression/Checksum/benchmarks_json/pml_x_psatd.json
  Source/FieldSolver/SpectralSolver/SpectralFieldData.cpp
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/FieldSolver/WarpXPushFieldsEM_K.H
  Source/WarpX.cpp
Labels: component: parallelization, component: spectral

#1948 AMReX/PICSAR: Weekly Update
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#1950 NVCC: Fix PSATD+RZ Build Error
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/GalileanPsatdAlgorithmRZ.cpp
Labels: backend: cuda, bug, bug: affects latest release, component: RZ, component: spectral, workaround

#1761 Feature - Time dependent Dirichlet boundary conditions for electrostatic simulations
  Docs/source/usage/parameters.rst
  Examples/Modules/embedded_boundary_cube/analysis_fields.py
  Examples/Modules/relativistic_space_charge_initialization/inputs_3d
  Examples/Modules/space_charge_initialization/inputs_3d
  Examples/Tests/ElectrostaticDirichletBC/analysis.py
  Examples/Tests/ElectrostaticDirichletBC/inputs_2d
  Python/pywarpx/Boundary.py
  Python/pywarpx/WarpX.py
  Python/pywarpx/__init__.py
  Python/pywarpx/picmi.py
  Regression/WarpX-tests.ini
  Source/FieldSolver/ElectrostaticSolver.cpp
  Source/WarpX.H
Labels: component: electrostatic

#1955 CI: Fix Broken Test, Disable HIP Temporarily
  .github/workflows/ubuntu.yml
  Examples/Tests/ElectrostaticDirichletBC/inputs_2d
Labels: bug, component: tests, workaround

#1951 Doc: Cori CMake -S Argument
  Docs/source/install/hpc/cori.rst
Labels: component: documentation, install

#1953 BC : Interface for damping EB fields in guard cells in z-direction
  Docs/source/usage/parameters.rst
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/Utils/WarpXAlgorithmSelection.H
  Source/Utils/WarpXAlgorithmSelection.cpp
  Source/Utils/WarpXUtil.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: changes input script, component: boundary, component: spectral

#1936 Implemented query and getArrWithParser
  Docs/source/usage/parameters.rst
  Examples/Modules/boosted_diags/inputs_3d_slice
  Source/Diagnostics/Diagnostics.cpp
  Source/Initialization/CustomDensityProb.H
  Source/Initialization/InjectorDensity.cpp
  Source/Initialization/PlasmaInjector.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/Particles/LaserParticleContainer.cpp
  Source/Particles/MultiParticleContainer.cpp
  Source/Utils/WarpXUtil.H
  Source/Utils/WarpXUtil.cpp
  Source/WarpX.cpp
  Source/main.cpp
Labels: component: diagnostics, component: mesh refinement, enhancement

#1959 openPMD-api: 0.13.4 (internal)
  cmake/dependencies/openPMD.cmake
Labels: component: openPMD

#1957 CUDA: Quiet numerous warnings about unused-variable-warning suppressions being unreachable statements
  Source/FieldSolver/FiniteDifferenceSolver/FiniteDifferenceAlgorithms/CartesianCKCAlgorithm.H
  Source/FieldSolver/FiniteDifferenceSolver/FiniteDifferenceAlgorithms/CartesianYeeAlgorithm.H
Labels: backend: cuda, warning

#1963 Use rocm 4.1.1 for hip ci
  .github/workflows/dependencies/hip.sh
  .github/workflows/ubuntu.yml
Labels: backend: hip, component: tests, workaround

#1946 MultiReduceDiags.cpp : use a map to replace a long list of "if else" to choose a reduced diag
  Source/Diagnostics/ReducedDiags/MultiReducedDiags.cpp
Labels: component: diagnostics

#1961 Summit/PPC64le: Numpy 1.19.5
  Docs/source/install/hpc/summit.rst
Labels: component: Python, component: documentation, machine / system, workaround

#1926 More Docs on How to Run CI Tests Locally
  .azure-pipelines.yml
  Docs/source/developers/testing.rst
  Regression/prepare_file_travis.py
Labels: component: documentation, component: tests

#1965 Docs: Dev git Notes
  Docs/source/install/dependencies.rst
Labels: component: documentation

#1964 AMReX/PICSAR: Weekly Update
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#1966 Docs: Glossary EB, FDTD, PSATD
  Docs/source/glossary.rst
Labels: component: documentation

#1970 replace copy with FabArray::ParallelCopy() in BTD
  Source/Diagnostics/BackTransformedDiagnostic.cpp
  Source/Diagnostics/ComputeDiagFunctors/BackTransformFunctor.cpp
Labels: component: third party, warning

#1967 Docs: Debugging Workflow
  Docs/source/usage/workflows.rst
  Docs/source/usage/workflows/debugging.rst
Labels: component: documentation

#1969 Set guard cell for allocation using fieldsolver stencil and particle shapefactor
  Source/FieldSolver/FiniteDifferenceSolver/FiniteDifferenceAlgorithms/CartesianCKCAlgorithm.H
  Source/FieldSolver/FiniteDifferenceSolver/FiniteDifferenceAlgorithms/CartesianNodalAlgorithm.H
  Source/FieldSolver/FiniteDifferenceSolver/FiniteDifferenceAlgorithms/CartesianYeeAlgorithm.H
  Source/FieldSolver/FiniteDifferenceSolver/FiniteDifferenceAlgorithms/CylindricalYeeAlgorithm.H
  Source/Parallelization/GuardCellManager.cpp
Labels: bug

#1973 CI: Add BTD Tests
  Examples/Modules/RigidInjection/inputs_2d_BoostedFrame
  Examples/Modules/boosted_diags/inputs_3d_slice
  Regression/WarpX-tests.ini
Labels: component: diagnostics, component: openPMD, component: tests

#1842 openPMD: Support for mesh refinement
  Source/Diagnostics/FlushFormats/FlushFormatOpenPMD.cpp
  Source/Diagnostics/WarpXOpenPMD.H
  Source/Diagnostics/WarpXOpenPMD.cpp
Labels: component: openPMD

#1976 New Parser capability: `if`
  Docs/source/usage/parameters.rst
  Examples/Physics_applications/laser_ion/inputs
  Examples/Physics_applications/plasma_mirror/inputs_2d
  Source/Parser/wp_parser.l
  Source/Parser/wp_parser.lex.cpp
  Source/Parser/wp_parser.tab.cpp
  Source/Parser/wp_parser.tab.h
  Source/Parser/wp_parser.y
  Source/Parser/wp_parser_c.h
  Source/Parser/wp_parser_y.cpp
  Source/Parser/wp_parser_y.h
Labels: changes input script, component: core

#1975 openPMD: Fix Weighting Attributes
  Source/Diagnostics/WarpXOpenPMD.cpp
Labels: bug, bug: affects latest release, component: diagnostics, component: openPMD

#1767 Boundary Condition : PEC
  Docs/source/usage/parameters.rst
  Examples/Tests/Langmuir/inputs_2d_multi_rz_rt
  Examples/Tests/PEC/analysis_pec.py
  Examples/Tests/PEC/analysis_pec_mr.py
  Examples/Tests/PEC/inputs_field_PEC_3d
  Examples/Tests/PEC/inputs_field_PEC_mr_3d
  Examples/Tests/PEC/inputs_particle_PEC_3d
  Examples/Tests/galilean/inputs_rz
  Examples/Tests/spectral_staggered/inputs_hybrid_2d
  Regression/Checksum/benchmarks_json/Langmuir_multi_rz.json
  Regression/Checksum/benchmarks_json/Langmuir_multi_rz_psatd.json
  Regression/Checksum/benchmarks_json/Langmuir_multi_rz_psatd_current_correction.json
  Regression/Checksum/benchmarks_json/LaserAccelerationRZ.json
  Regression/Checksum/benchmarks_json/LaserInjection_2d.json
  Regression/Checksum/benchmarks_json/PEC_field.json
  Regression/Checksum/benchmarks_json/PEC_field_mr.json
  Regression/Checksum/benchmarks_json/PEC_particle.json
  Regression/Checksum/benchmarks_json/comoving_hybrid_2d.json
  Regression/Checksum/benchmarks_json/galilean_hybrid_2d.json
  Regression/Checksum/benchmarks_json/galilean_rz_psatd.json
  Regression/Checksum/benchmarks_json/galilean_rz_psatd_current_correction.json
  Regression/WarpX-tests.ini
  Source/BoundaryConditions/CMakeLists.txt
  Source/BoundaryConditions/Make.package
  Source/BoundaryConditions/WarpXFieldBoundaries.cpp
  Source/BoundaryConditions/WarpX_PEC.H
  Source/BoundaryConditions/WarpX_PEC.cpp
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/Utils/WarpXAlgorithmSelection.H
  Source/Utils/WarpXAlgorithmSelection.cpp
  Source/Utils/WarpXUtil.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: changes input script, component: boundary, enhancement

#1978 CI: Clean Up Galilean/Comoving Hybrid Tests
  Examples/Tests/comoving/inputs_2d_hybrid
  Examples/Tests/galilean/inputs_2d_hybrid
  Regression/Checksum/benchmarks_json/comoving_2d_psatd_hybrid.json
  Regression/Checksum/benchmarks_json/galilean_2d_psatd_hybrid.json
  Regression/WarpX-tests.ini
Labels: cleaning, component: tests

#1980 EB initialization with Parser
  Examples/Modules/embedded_boundary_cube/inputs_3d
  Source/EmbeddedBoundary/WarpXInitEB.cpp
  Source/WarpX.H
Labels: component: boundary

#1981 AMReX/PICSAR: Weekly Update
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#1974 CI: Cancel Prev. Build on Push
  .azure-pipelines.yml
Labels: component: tests

#1944 Add generic field reduction reduced diag
  Docs/source/usage/parameters.rst
  Examples/Tests/reduced_diags/analysis_reduced_diags.py
  Examples/Tests/reduced_diags/inputs
  Source/Diagnostics/ReducedDiags/BeamRelevant.H
  Source/Diagnostics/ReducedDiags/CMakeLists.txt
  Source/Diagnostics/ReducedDiags/FieldEnergy.H
  Source/Diagnostics/ReducedDiags/FieldMaximum.H
  Source/Diagnostics/ReducedDiags/FieldMaximum.cpp
  Source/Diagnostics/ReducedDiags/FieldReduction.H
  Source/Diagnostics/ReducedDiags/FieldReduction.cpp
  Source/Diagnostics/ReducedDiags/LoadBalanceCosts.H
  Source/Diagnostics/ReducedDiags/LoadBalanceEfficiency.H
  Source/Diagnostics/ReducedDiags/Make.package
  Source/Diagnostics/ReducedDiags/MultiReducedDiags.cpp
  Source/Diagnostics/ReducedDiags/ParticleEnergy.H
  Source/Diagnostics/ReducedDiags/ParticleExtrema.H
  Source/Diagnostics/ReducedDiags/ParticleHistogram.H
  Source/Diagnostics/ReducedDiags/ParticleNumber.H
  Source/Diagnostics/ReducedDiags/ReducedDiags.H
  Source/Diagnostics/ReducedDiags/RhoMaximum.H
  Source/Utils/WarpXAlgorithmSelection.H
  Source/Utils/WarpXAlgorithmSelection.cpp
  Source/Utils/WarpXUtil.cpp
Labels: component: diagnostics

#1982 using amrex::Math::abs for EB init
  Source/EmbeddedBoundary/WarpXInitEB.cpp
Labels: backend: cuda, bug, component: boundary

#1988 Docs: Spock (OLCF)
  Docs/source/install/hpc.rst
  Docs/source/install/hpc/spock.rst
  Tools/BatchScripts/batch_spock.sh
Labels: backend: hip, component: documentation, machine / system

#1987 Parser: Fix Operator Issues; Field Energy: Cleanups
  Examples/Tests/reduced_diags/inputs
  Source/Diagnostics/ReducedDiags/FieldEnergy.H
  Source/Diagnostics/ReducedDiags/FieldReduction.cpp
Labels: bug, cleaning, component: core, component: diagnostics

#1968 Performance: Preserve the electrostatic potential from step to step
  Source/FieldSolver/ElectrostaticSolver.cpp
  Source/WarpX.cpp
Labels: component: electrostatic

#1985 [mini-PR] replaced "query" with "get" to read reduced diag type from inputfile
  Source/Diagnostics/ReducedDiags/MultiReducedDiags.cpp
Labels: cleaning, component: diagnostics

#1979 Added new option <diag>.openpmd_encoding
  Docs/source/usage/parameters.rst
  Source/Diagnostics/FlushFormats/FlushFormatOpenPMD.cpp
  Source/Diagnostics/WarpXOpenPMD.H
  Source/Diagnostics/WarpXOpenPMD.cpp
Labels: changes input script, component: openPMD, enhancement
