Repository BLAST-WarpX/warpx, pull requests merged in 2022-04, with the labels that each got.

#3010 CI: Fix Small Issue w/ Langmuir Plots
  Examples/Tests/Langmuir/analysis_langmuir_multi.py
  Examples/Tests/Langmuir/analysis_langmuir_multi_2d.py
Labels: bug, component: tests

#3018 Release 22.04
  .github/workflows/cuda.yml
  CMakeLists.txt
  Docs/source/conf.py
  LICENSE.txt
  Python/setup.py
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/PICSAR.cmake
  run_test.sh
  setup.py
Labels: component: documentation, component: third party

#2988 Switch test to use common build with openPMD enabled
  Regression/WarpX-tests.ini
Labels: component: openPMD, component: tests

#2896 Allow process signals to trigger checkpoint or break behavior
  Docs/source/usage/parameters.rst
  Python/pywarpx/picmi.py
  Source/Evolve/WarpXEvolve.cpp
  Source/WarpX.H
  Source/WarpX.cpp
  Source/ablastr/utils/CMakeLists.txt
  Source/ablastr/utils/Make.package
  Source/ablastr/utils/SignalHandling.H
  Source/ablastr/utils/SignalHandling.cpp
Labels: component: core

#2996 Moving Frame Field Probe Functionality
  Docs/source/usage/parameters.rst
  Examples/Physics_applications/laser_acceleration/inputs_1d
  Examples/Physics_applications/laser_acceleration/inputs_2d
  Examples/Physics_applications/laser_acceleration/inputs_3d
  Source/Diagnostics/ReducedDiags/FieldProbe.H
  Source/Diagnostics/ReducedDiags/FieldProbe.cpp
  Source/Particles/Pusher/GetAndSetPosition.H
Labels: component: diagnostics

#3019 LoadBalanceCosts: num_cells & num_macro_particles
  Docs/source/usage/workflows/plot_distribution_mapping.rst
  Examples/Physics_applications/laser_ion/inputs
  Source/Diagnostics/ReducedDiags/LoadBalanceCosts.H
  Source/Diagnostics/ReducedDiags/LoadBalanceCosts.cpp
  Tools/PostProcessing/plot_distribution_mapping.py
Labels: bug, component: post-processing, bug: affects latest release, component: diagnostics, component: load balancing

#3024 Semicoarsening in electrostatic solvers
  Regression/Checksum/benchmarks_json/relativistic_space_charge_initialization.json
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  Source/FieldSolver/ElectrostaticSolver.cpp
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: electrostatic

#3021 AMReX/PICSAR: Weekly Update
  .github/workflows/cuda.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#3025 Added PlasmaLens class to PICMI
  Examples/Tests/plasma_lens/PICMI_inputs_3d.py
  Examples/Tests/plasma_lens/analysis.py
  Examples/Tests/plasma_lens/inputs_3d
  Examples/Tests/plasma_lens/inputs_boosted_3d
  Python/pywarpx/picmi.py
  Regression/Checksum/benchmarks_json/Python_plasma_lens.json
  Regression/WarpX-tests.ini
Labels: component: tests, component: PICMI

#3022 Minor fixes removing warnings from MSVC C++
  Source/BoundaryConditions/WarpX_PEC.H
  Source/Diagnostics/BTDiagnostics.cpp
  Source/Diagnostics/FullDiagnostics.cpp
  Source/WarpX.cpp
Labels: component: openPMD, warning, component: diagnostics, component: boundary

#3029 Fix MPI Signal Handling on Perlmutter
  Docs/source/usage/parameters.rst
  Source/ablastr/utils/SignalHandling.H
  Source/ablastr/utils/SignalHandling.cpp
Labels: bug, component: core, component: parallelization

#3012 Vay Deposition: Fix SyncCurrent, FFTs
  Examples/Tests/Langmuir/analysis_langmuir_multi.py
  Examples/Tests/Langmuir/analysis_langmuir_multi_2d.py
  Regression/Checksum/benchmarks_json/Langmuir_multi_2d_psatd_Vay_deposition.json
  Regression/Checksum/benchmarks_json/Langmuir_multi_2d_psatd_Vay_deposition_nodal.json
  Regression/Checksum/benchmarks_json/Langmuir_multi_psatd_Vay_deposition.json
  Regression/Checksum/benchmarks_json/Langmuir_multi_psatd_Vay_deposition_nodal.json
  Regression/WarpX-tests.ini
  Source/Evolve/WarpXEvolve.cpp
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/Parallelization/WarpXComm.cpp
  Source/WarpX.cpp
Labels: bug, component: spectral, bug: affects latest release

#3016 Implemented the BCK fallback for the ECT solver
  Docs/source/glossary.rst
  Examples/Modules/embedded_boundary_rotated_cube/analysis_fields.py
  Examples/Modules/embedded_boundary_rotated_cube/inputs_3d
  Regression/Checksum/benchmarks_json/embedded_boundary_rotated_cube.json
  Regression/WarpX-tests.ini
  Source/EmbeddedBoundary/WarpXFaceExtensions.cpp
  Source/WarpX.H
Labels: component: boundary, component: FDTD

#3031 Signal: Cleanup (Simplify)
  Source/ablastr/utils/SignalHandling.cpp
Labels: cleaning, component: ABLASTR

#3034 Fix Bug in `WarpX::MoveWindow`
  Source/Utils/WarpXMovingWindow.cpp
  Source/WarpX.H
Labels: bug, bug: affects latest release

#3037 AMReX/PICSAR: Weekly Update
  .github/workflows/cuda.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#3030 RZ + openPMD : don't transpose data, save data with shape (Nm, Nz, Nr)
  Examples/Tests/openpmd_rz/analysis_openpmd_rz.py
  Source/Diagnostics/WarpXOpenPMD.H
  Source/Diagnostics/WarpXOpenPMD.cpp
Labels: Performance optimization, component: openPMD, component: RZ

#3038 Remove Nodal Synchronization of J and Rho
  Regression/Checksum/benchmarks_json/reduced_diags_single_precision.json
  Source/Evolve/WarpXEvolve.cpp
  Source/Parallelization/WarpXComm.cpp
Labels: Performance optimization

#3042 Avoid unnecessary construction of CopyParticleAttribs
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Particles/Pusher/CopyParticleAttribs.H
Labels: bug, bug: affects latest release

#3046 AMReX/PICSAR: Weekly Update
  .github/workflows/cuda.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#3040 Summit: Prepend Hostname & Mapping
  Tools/machines/summit-olcf/summit_power9.bsub
  Tools/machines/summit-olcf/summit_v100.bsub
Labels: component: documentation, machine / system

#3052 Fix particle flux injection, when the number of macroparticle per timestep is low.
  Source/Particles/PhysicalParticleContainer.cpp
Labels: bug, bug: affects latest release

#3043 Add after diagnostic python callback
  Python/pywarpx/callbacks.py
  Source/Evolve/WarpXEvolve.cpp
  Source/Python/WarpX_py.H
Labels: component: diagnostics, component: Python

#2937 Current Deposition Interfaces: Always Pass `dt` & `relative_time`
  Source/Particles/Deposition/CurrentDeposition.H
  Source/Particles/LaserParticleContainer.cpp
  Source/Particles/MultiParticleContainer.H
  Source/Particles/MultiParticleContainer.cpp
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Particles/WarpXParticleContainer.H
  Source/Particles/WarpXParticleContainer.cpp
Labels: cleaning

#3055 `Stencil.py`: Follow PEP 8 Coding Style
  Tools/DevUtils/Stencil.py
Labels: cleaning, component: post-processing

#3053 Perlmutter: Boost Software Module (QED)
  Tools/machines/perlmutter-nersc/perlmutter_warpx.profile.example
  cmake/dependencies/PICSAR.cmake
Labels: component: documentation, component: QED, component: third party, machine / system

#3057 Docs: Ascent 0.8.0 on Summit
  Tools/machines/summit-olcf/summit_warpx.profile.example
Labels: backend: cuda, component: documentation, machine / system, component: diagnostics

#3059 AMReX/PICSAR: Weekly Update
  .github/workflows/cuda.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#3060 Doc: PICMI HPC System Update Requirements
  Docs/source/install/hpc/cori.rst
  Docs/source/install/hpc/perlmutter.rst
  Docs/source/install/hpc/summit.rst
Labels: component: documentation, install, machine / system

#3069 Update CUDA repo key
  .github/workflows/dependencies/nvcc11.sh
Labels: backend: cuda, component: tests, component: third party
