Repository BLAST-WarpX/warpx, pull requests merged in 2022-09, with the labels that each got.

#3357 ABLASTR: Add Nodal Gather Functions
  Source/EmbeddedBoundary/ParticleScraper.H
  Source/Particles/ParticleBoundaryBuffer.cpp
  Source/ablastr/particles/DepositCharge.H
  Source/ablastr/particles/NodalFieldGather.H
Labels: component: core, component: ABLASTR

#3351 Fix Plasma Refinement in AddPlasma
  Source/Particles/PhysicalParticleContainer.cpp
Labels: bug, component: mesh refinement, bug: affects latest release

#3360 Spack Envs: Debian
  Docs/source/install/dependencies.rst
  Tools/machines/desktop/spack-debian-cuda.yaml
  Tools/machines/desktop/spack-debian-openmp.yaml
  Tools/machines/desktop/spack-debian-rocm.yaml
  Tools/machines/desktop/spack-ubuntu-cuda.yaml
  Tools/machines/desktop/spack-ubuntu-openmp.yaml
  Tools/machines/desktop/spack-ubuntu-rocm.yaml
Labels: component: documentation, install, component: third party, machine / system

#3362 Perlmutter: Specify "regular" QOS
  Tools/machines/perlmutter-nersc/perlmutter.sbatch
Labels: component: documentation, machine / system

#3359 Initialize user defined runtime attributes in AddPlasmaFlux
  Source/Particles/PhysicalParticleContainer.cpp
Labels: bug, bug: affects latest release, component: diagnostics

#3355 Remove some magic numbers
  Source/Diagnostics/ReducedDiags/ParticleExtrema.H
  Source/Diagnostics/ReducedDiags/ParticleExtrema.cpp
  Source/Laser/LaserProfilesImpl/LaserProfileGaussian.cpp
  Source/Laser/LaserProfilesImpl/LaserProfileHarris.cpp
  Source/Particles/Collision/BackgroundStopping/BackgroundStopping.cpp
  Source/Particles/ElementaryProcess/QEDInternals/BreitWheelerEngineWrapper.cpp
  Source/Particles/ElementaryProcess/QEDInternals/QuantumSyncEngineWrapper.cpp
  Source/Particles/Gather/GetExternalFields.cpp
  Source/Particles/ParticleBoundaryBuffer.cpp
Labels: cleaning, component: QED, component: diagnostics, component: boundary

#3364 Docs: abort_on_unused_inputs
  Docs/source/usage/parameters.rst
Labels: component: documentation

#3245 add boosted frame notes to usage FAQ
  Docs/source/usage/faq.rst
Labels: enhancement, component: documentation

#3365 Release 22.09
  .github/workflows/cuda.yml
  CMakeLists.txt
  Docs/source/conf.py
  LICENSE.txt
  Python/setup.py
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/PICSAR.cmake
  run_test.sh
  setup.py
Labels: component: documentation, component: third party

#3370 Avoid division by 0 in plasma lenses
  Source/Particles/Gather/GetExternalFields.H
Labels: bug, bug: affects latest release

#3373 Update science highlights
  Docs/source/highlights.rst
Labels: component: documentation

#3363 CI: Add 2D/3D Langmuir Tests w/ Multi-J PSATD
  Examples/Tests/multi_J/inputs_2d
  Examples/Tests/multi_J/inputs_2d_pml
  Regression/Checksum/benchmarks_json/Langmuir_multi_2d_psatd_multiJ.json
  Regression/Checksum/benchmarks_json/Langmuir_multi_2d_psatd_multiJ_nodal.json
  Regression/Checksum/benchmarks_json/Langmuir_multi_psatd_multiJ.json
  Regression/Checksum/benchmarks_json/Langmuir_multi_psatd_multiJ_nodal.json
  Regression/Checksum/benchmarks_json/multi_J_2d_psatd.json
  Regression/Checksum/benchmarks_json/multi_J_2d_psatd_pml.json
  Regression/WarpX-tests.ini
Labels: component: spectral, component: tests

#3375 Fix perlmutter script.
  Tools/machines/perlmutter-nersc/perlmutter.sbatch
Labels: backend: cuda, component: documentation, machine / system

#3374 Fix: ABLASTR nvcc Phi Fine/Coarse
  Source/ablastr/fields/PoissonSolver.H
Labels: backend: cuda, workaround, component: ABLASTR

#3379 Updated name for Elisa Rheaume in zenodo & Field Probe files
  .zenodo.json
  Examples/Tests/FieldProbe/analysis_field_probe.py
  Examples/Tests/FieldProbe/inputs_2d
  Source/Diagnostics/ReducedDiags/FieldProbe.H
  Source/Diagnostics/ReducedDiags/FieldProbe.cpp
  Source/Diagnostics/ReducedDiags/FieldProbeParticleContainer.H
  Source/Diagnostics/ReducedDiags/FieldProbeParticleContainer.cpp
Labels: component: documentation

#3366 Frontier/Crusher: rocFFT Cache Control
  Docs/source/install/hpc/crusher.rst
  Docs/source/install/hpc/frontier.rst
  Tools/machines/crusher-olcf/submit.sh
  Tools/machines/frontier-olcf/submit.sh
Labels: component: spectral, component: documentation, backend: hip, machine / system, workaround

#3222 `SyncCurrent`: Split Filter and Sum over Guard Cells
  Regression/Checksum/benchmarks_json/Langmuir_multi_2d_MR.json
  Regression/Checksum/benchmarks_json/Langmuir_multi_2d_MR_anisotropic.json
  Regression/Checksum/benchmarks_json/LaserAcceleration_single_precision_comms.json
  Regression/Checksum/benchmarks_json/particles_in_pml_2d_MR.json
  Regression/Checksum/benchmarks_json/particles_in_pml_3d_MR.json
  Source/Evolve/WarpXEvolve.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/Parallelization/GuardCellManager.H
  Source/Parallelization/GuardCellManager.cpp
  Source/Parallelization/WarpXComm.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: parallelization

#3386 Docs: Crusher (OLCF) for PSATD+RZ
  Docs/source/install/hpc/crusher.rst
  Tools/machines/crusher-olcf/crusher_warpx.profile.example
  Tools/machines/crusher-olcf/submit.sh
Labels: component: spectral, backend: hip, machine / system, component: RZ

#3387 AMReX/PICSAR: Weekly Update
  .github/workflows/cuda.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#3376 ABLASTR: Move Used Inputs Helper
  Source/Initialization/WarpXInitData.cpp
  Source/ablastr/utils/CMakeLists.txt
  Source/ablastr/utils/Make.package
  Source/ablastr/utils/UsedInputsFile.H
  Source/ablastr/utils/UsedInputsFile.cpp
Labels: component: ABLASTR

#3394 Use GetWithParser for particles_per_cell
  Source/Initialization/PlasmaInjector.cpp
Labels: changes input scripts / defaults

#3393 ABLASTR: Fix Stray Include in DepositCharge
  Source/ablastr/particles/DepositCharge.H
Labels: bug, bug: affects latest release, component: ABLASTR

#3396 Frontier/Crusher: Less Invasive libFabric Work-Around
  Docs/source/install/hpc/crusher.rst
  Docs/source/install/hpc/frontier.rst
  Tools/machines/crusher-olcf/submit.sh
  Tools/machines/frontier-olcf/submit.sh
Labels: Performance optimization, hackathon, backend: hip, machine / system, component: parallelization, workaround

#3383 Use blaspp::gemm on GPU for Hankel transform
  CMakeLists.txt
  Docs/source/install/hpc/perlmutter.rst
  Docs/source/install/hpc/summit.rst
  Source/FieldSolver/SpectralSolver/SpectralHankelTransform/HankelTransform.H
  Source/FieldSolver/SpectralSolver/SpectralHankelTransform/HankelTransform.cpp
  Tools/machines/summit-olcf/summit_warpx.profile.example
Labels: backend: cuda, component: spectral, backend: hip, component: RZ

#3381 Add species name to 2 error messages
  Source/Initialization/PlasmaInjector.cpp
Labels: enhancement

#3408 Update highlights with new PRX paper
  Docs/source/highlights.rst
Labels: component: documentation

#3405 ABLASTR: Constants
  Source/Utils/WarpXConst.H
  Source/ablastr/constant.H
Labels: component: ABLASTR

#3406 ABLASTR: Fix Stray Include in ChargeDeposition
  Source/ablastr/particles/DepositCharge.H
Labels: bug

#3382 Display an ASCII art logo on standard output
  Source/Initialization/WarpXInitData.cpp
  Source/Utils/CMakeLists.txt
  Source/Utils/Logo/CMakeLists.txt
  Source/Utils/Logo/GetLogo.H
  Source/Utils/Logo/GetLogo.cpp
  Source/Utils/Logo/Make.package
  Source/Utils/Make.package
Labels: enhancement, component: documentation

#3410 Improve docstrings for some physical constants
  Source/ablastr/constant.H
Labels: component: documentation, component: QED

#3413 Fixes to Physics_applications/capacitive_discharge/PICMI*
  Examples/Physics_applications/capacitive_discharge/PICMI_inputs_1d.py
  Examples/Physics_applications/capacitive_discharge/PICMI_inputs_2d.py
Labels: component: tests, component: PICMI

#3414 Zenodo: Add Marco Garten
  .zenodo.json
Labels: component: documentation

#3184 Fix value of particle container m_do_back_transformed_particles when …
  Source/Diagnostics/BTDiagnostics.cpp
Labels: component: diagnostics

#3372 Add beta function to BeamRelevant
  Docs/source/usage/parameters.rst
  Source/Diagnostics/ReducedDiags/BeamRelevant.cpp
Labels: component: diagnostics

#3416 More fixes for capacitive_discharge PICMI tests
  Examples/Physics_applications/capacitive_discharge/PICMI_inputs_1d.py
  Examples/Physics_applications/capacitive_discharge/PICMI_inputs_2d.py
Labels: component: tests, component: PICMI

#3255 Correct and test fusion module in RZ geometry
  Examples/Modules/nuclear_fusion/analysis_deuterium_tritium_fusion.py
  Examples/Modules/nuclear_fusion/inputs_deuterium_tritium_rz
  Regression/Checksum/benchmarks_json/Deuterium_Tritium_Fusion_3D.json
  Regression/Checksum/benchmarks_json/Deuterium_Tritium_Fusion_RZ.json
  Regression/WarpX-tests.ini
  Source/Particles/Collision/BinaryCollision/NuclearFusion/NuclearFusionFunc.H
Labels: component: collisions

#3242 PSATD: More Options for Time Dependency of J, Rho
  Docs/source/usage/parameters.rst
  Regression/WarpX-tests.ini
  Source/BoundaryConditions/PML.H
  Source/BoundaryConditions/PML.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/CMakeLists.txt
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/Make.package
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithmJConstantInTime.H
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithmJConstantInTime.cpp
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithmRZ.H
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithmRZ.cpp
  Source/FieldSolver/SpectralSolver/SpectralFieldData.H
  Source/FieldSolver/SpectralSolver/SpectralFieldData.cpp
  Source/FieldSolver/SpectralSolver/SpectralSolver.H
  Source/FieldSolver/SpectralSolver/SpectralSolver.cpp
  Source/FieldSolver/SpectralSolver/SpectralSolverRZ.H
  Source/FieldSolver/SpectralSolver/SpectralSolverRZ.cpp
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/Utils/WarpXAlgorithmSelection.H
  Source/Utils/WarpXAlgorithmSelection.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: enhancement, component: spectral, changes input scripts / defaults

#3235 Add option to deposit laser on main grid
  Docs/source/usage/parameters.rst
  Source/Particles/LaserParticleContainer.cpp
  Source/Particles/MultiParticleContainer.H
  Source/Particles/MultiParticleContainer.cpp
Labels: component: mesh refinement

#3418 Fix compilation of RZ version on GPU
  Source/Particles/Collision/BinaryCollision/NuclearFusion/NuclearFusionFunc.H
Labels: bug, backend: cuda, component: RZ

#3419 Fix #3389: fix update of particles flushed already in BTD
  Source/Diagnostics/BTDiagnostics.cpp
Labels: bug, bug: affects latest release, component: diagnostics

#3371 CI: Test New v. Legacy BTD in `BTD_ReducedSliceDiag`
  Examples/Modules/boosted_diags/analysis_3Dbacktransformed_diag.py
  Examples/Modules/boosted_diags/inputs_3d_slice
  Regression/Checksum/benchmarks_json/BTD_ReducedSliceDiag.json
Labels: component: tests, component: diagnostics

#3422 Fix a comment (PLASMA --> LASER) in 3 example inputfiles
  Examples/Physics_applications/laser_acceleration/inputs_1d
  Examples/Physics_applications/laser_acceleration/inputs_2d
  Examples/Physics_applications/laser_acceleration/inputs_rz
Labels: component: documentation

#3367 BTD diagnostics specified by intervals
  Docs/source/usage/parameters.rst
  Examples/Modules/RigidInjection/inputs_2d_BoostedFrame
  Examples/Modules/boosted_diags/inputs_3d_slice
  Source/Diagnostics/BTDiagnostics.H
  Source/Diagnostics/BTDiagnostics.cpp
  Source/Utils/IntervalsParser.H
  Source/Utils/IntervalsParser.cpp
Labels: component: diagnostics

#3423 Enforce 3 components for some laser parameters
  Source/Particles/LaserParticleContainer.cpp
Labels: cleaning

#3412 AMReX/PICSAR: Weekly Update
  .github/workflows/cuda.yml
  Regression/Checksum/benchmarks_json/background_mcc_dp_psp.json
  Regression/Checksum/benchmarks_json/pml_psatd_dive_divb_cleaning.json
  Regression/Checksum/benchmarks_json/reduced_diags_single_precision.json
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#3421 Add 1d support to `_libwarpx.py` functions `get_particle_X`
  Examples/Physics_applications/capacitive_discharge/PICMI_inputs_1d.py
  Python/pywarpx/_libwarpx.py
Labels: component: Python

#3434 Add quiet option to Summit post-proc. docs
  Docs/source/install/hpc/summit.rst
Labels: component: documentation, component: post-processing, machine / system, component: Python

#3431 Implement tridiag solver for 1D
  Examples/Physics_applications/capacitive_discharge/PICMI_inputs_1d.py
  Examples/Physics_applications/capacitive_discharge/analysis_1d.py
  Regression/WarpX-tests.ini
  Source/FieldSolver/ElectrostaticSolver.cpp
  Source/WarpX.H
Labels: enhancement, Performance optimization, component: electrostatic
