Repository BLAST-WarpX/warpx, pull requests merged in 2022-01, with the labels that each got.

#2700 Add PICMI Scripts for LWFA Tests
  .github/workflows/intel.yml
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  Docs/source/usage/examples.rst
  Examples/Physics_applications/laser_acceleration/PICMI_inputs_1d.py
  Examples/Physics_applications/laser_acceleration/PICMI_inputs_2d.py
  Examples/Physics_applications/laser_acceleration/PICMI_inputs_3d.py
  Examples/Physics_applications/laser_acceleration/PICMI_inputs_laser_acceleration.py
  Examples/Physics_applications/laser_acceleration/PICMI_inputs_rz.py
  Examples/Physics_applications/laser_acceleration/inputs_1d
  Examples/Physics_applications/laser_acceleration/inputs_2d
  Examples/Physics_applications/laser_acceleration/inputs_3d
  Examples/Physics_applications/laser_acceleration/inputs_rz
  Regression/Checksum/benchmarks_json/Python_LaserAcceleration.json
  Regression/Checksum/benchmarks_json/Python_LaserAccelerationMR.json
  Regression/Checksum/benchmarks_json/Python_LaserAccelerationRZ.json
  Regression/Checksum/benchmarks_json/Python_LaserAcceleration_1d.json
  Regression/WarpX-tests.ini
Labels: component: tests, component: PICMI

#2715 Docs: Spack Dev - Relax MPL Pin
  Docs/source/install/dependencies.rst
Labels: component: documentation, component: tests, component: third party, component: Python

#2717 Docs: Add New Inputs (Manual)
  Docs/source/usage/examples.rst
Labels: component: documentation

#2718 Release 22.01
  CMakeLists.txt
  Docs/source/conf.py
  LICENSE.txt
  Python/setup.py
  README.md
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/PICSAR.cmake
  run_test.sh
  setup.py
Labels: component: documentation, component: third party

#2714 Allow Dirichlet BCs on r boundaries in RZ (electrostatic)
  Python/pywarpx/_libwarpx.py
  Python/pywarpx/picmi.py
  Source/FieldSolver/ElectrostaticSolver.cpp
  Source/Utils/WarpXUtil.cpp
  Source/WarpX.cpp
Labels: component: electrostatic, component: RZ

#2389 Coulomb and fusion subfolders
  Source/Particles/Collision/BinaryCollision/BinaryCollision.H
  Source/Particles/Collision/BinaryCollision/Coulomb/ComputeTemperature.H
  Source/Particles/Collision/BinaryCollision/Coulomb/ElasticCollisionPerez.H
  Source/Particles/Collision/BinaryCollision/Coulomb/PairWiseCoulombCollisionFunc.H
  Source/Particles/Collision/BinaryCollision/Coulomb/UpdateMomentumPerezElastic.H
  Source/Particles/Collision/BinaryCollision/NuclearFusion/NuclearFusionFunc.H
  Source/Particles/Collision/BinaryCollision/NuclearFusion/ProtonBoronFusionCrossSection.H
  Source/Particles/Collision/BinaryCollision/NuclearFusion/ProtonBoronFusionInitializeMomentum.H
  Source/Particles/Collision/BinaryCollision/NuclearFusion/SingleNuclearFusionEvent.H
  Source/Particles/Collision/BinaryCollision/ParticleCreationFunc.H
  Source/Particles/Collision/CollisionHandler.cpp
Labels: cleaning

#2364 Python Script to Compute PSATD Stencil
  Docs/source/usage/workflows.rst
  Docs/source/usage/workflows/psatd_stencil.rst
  Tools/DevUtils/Stencil.py
Labels: component: spectral, component: post-processing

#1898 Particle Buffer for Backtransformed Diagnostics
  Docs/source/usage/parameters.rst
  Examples/Modules/boosted_diags/inputs_3d_slice
  Examples/Physics_applications/capacitive_discharge/analysis.py
  Examples/Tests/ElectrostaticDirichletBC/analysis.py
  Regression/Checksum/benchmarks_json/LaserAccelerationBoost.json
  Regression/Checksum/benchmarks_json/PlasmaAccelerationBoost2d.json
  Regression/Checksum/benchmarks_json/PlasmaAccelerationBoost3d.json
  Regression/Checksum/benchmarks_json/background_mcc.json
  Regression/Checksum/benchmarks_json/comoving_2d_psatd_hybrid.json
  Regression/Checksum/benchmarks_json/galilean_2d_psatd_hybrid.json
  Regression/Checksum/benchmarks_json/ionization_boost.json
  Regression/Checksum/benchmarks_json/multi_J_rz_psatd.json
  Source/Diagnostics/BTD_Plotfile_Header_Impl.H
  Source/Diagnostics/BTD_Plotfile_Header_Impl.cpp
  Source/Diagnostics/BTDiagnostics.H
  Source/Diagnostics/BTDiagnostics.cpp
  Source/Diagnostics/ComputeDiagFunctors/BackTransformFunctor.H
  Source/Diagnostics/ComputeDiagFunctors/BackTransformFunctor.cpp
  Source/Diagnostics/ComputeDiagFunctors/BackTransformParticleFunctor.H
  Source/Diagnostics/ComputeDiagFunctors/BackTransformParticleFunctor.cpp
  Source/Diagnostics/ComputeDiagFunctors/CMakeLists.txt
  Source/Diagnostics/ComputeDiagFunctors/ComputeParticleDiagFunctor.H
  Source/Diagnostics/ComputeDiagFunctors/Make.package
  Source/Diagnostics/Diagnostics.H
  Source/Diagnostics/Diagnostics.cpp
  Source/Diagnostics/FlushFormats/FlushFormat.H
  Source/Diagnostics/FlushFormats/FlushFormatAscent.H
  Source/Diagnostics/FlushFormats/FlushFormatAscent.cpp
  Source/Diagnostics/FlushFormats/FlushFormatCheckpoint.H
  Source/Diagnostics/FlushFormats/FlushFormatCheckpoint.cpp
  Source/Diagnostics/FlushFormats/FlushFormatOpenPMD.H
  Source/Diagnostics/FlushFormats/FlushFormatOpenPMD.cpp
  Source/Diagnostics/FlushFormats/FlushFormatPlotfile.H
  Source/Diagnostics/FlushFormats/FlushFormatPlotfile.cpp
  Source/Diagnostics/FlushFormats/FlushFormatSensei.H
  Source/Diagnostics/FlushFormats/FlushFormatSensei.cpp
  Source/Diagnostics/FullDiagnostics.H
  Source/Diagnostics/FullDiagnostics.cpp
  Source/Diagnostics/MultiDiagnostics.H
  Source/Diagnostics/MultiDiagnostics.cpp
  Source/Diagnostics/ParticleDiag/ParticleDiag.H
  Source/Diagnostics/ParticleDiag/ParticleDiag.cpp
  Source/Diagnostics/WarpXOpenPMD.H
  Source/Diagnostics/WarpXOpenPMD.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/Particles/MultiParticleContainer.H
  Source/Particles/MultiParticleContainer.cpp
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Particles/PinnedMemoryParticleContainer.H
  Source/Particles/WarpXParticleContainer.H
Labels: component: diagnostics

#2679 Multi-J: J Always Linear in Time
  Docs/source/usage/parameters.rst
  Examples/Tests/multi_J/inputs_2d
  Examples/Tests/multi_J/inputs_2d_pml
  Examples/Tests/multi_J/inputs_rz
  Source/BoundaryConditions/PML.H
  Source/BoundaryConditions/PML.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithm.H
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithm.cpp
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithmRZ.H
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithmRZ.cpp
  Source/FieldSolver/SpectralSolver/SpectralFieldData.H
  Source/FieldSolver/SpectralSolver/SpectralFieldData.cpp
  Source/FieldSolver/SpectralSolver/SpectralSolver.H
  Source/FieldSolver/SpectralSolver/SpectralSolver.cpp
  Source/FieldSolver/SpectralSolver/SpectralSolverRZ.H
  Source/FieldSolver/SpectralSolver/SpectralSolverRZ.cpp
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: spectral

#2732 Sort the argument list that Python writes to the inputs files
  Python/pywarpx/WarpX.py
Labels: component: PICMI, component: Python

#2734 Fix PML with anisotropic refinement ratio
  Regression/Checksum/benchmarks_json/Langmuir_multi_2d_MR_anisotropic.json
  Source/BoundaryConditions/PML.H
  Source/BoundaryConditions/PML.cpp
Labels: bug, component: mesh refinement, bug: affects latest release, component: boundary

#2689 Initialize EB grid data on restart.
  Examples/Tests/restart_eb/PICMI_inputs_restart_eb.py
  Regression/Checksum/benchmarks_json/Python_restart_eb.json
  Regression/WarpX-tests.ini
  Source/Diagnostics/WarpXIO.cpp
Labels: bug, bug: affects latest release, component: boundary, component: checkpoint/restart

#2731 AMReX/PICSAR: Weekly Update
  .azure-pipelines.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#2721 Make moving window dimensionality consistent in PICMI
  Examples/Physics_applications/laser_acceleration/PICMI_inputs_1d.py
  Examples/Physics_applications/laser_acceleration/PICMI_inputs_rz.py
  Examples/Physics_applications/plasma_acceleration/PICMI_inputs_plasma_acceleration_1d.py
  Examples/Tests/Langmuir/PICMI_inputs_langmuir_rz_multimode_analyze.py
  Python/pywarpx/picmi.py
  Python/setup.py
  requirements.txt
Labels: changes input scripts / defaults, component: Python

#2737 Don't attempt to use costs when working on PML grids.
  Source/FieldSolver/SpectralSolver/SpectralFieldData.cpp
  Source/FieldSolver/SpectralSolver/SpectralFieldDataRZ.cpp
  Source/Utils/WarpXUtil.H
  Source/Utils/WarpXUtil.cpp
Labels: bug, component: spectral, bug: affects latest release, component: load balancing, component: boundary

#2736 Perlmutter: Set CRAY_ACCEL_TARGET for GPU-Enabled MPI
  Docs/source/install/hpc/perlmutter.rst
Labels: component: documentation, machine / system

#2739 Fixing staircased EM solver
  Source/BoundaryConditions/PML.H
  Source/BoundaryConditions/PML.cpp
  Source/BoundaryConditions/WarpXEvolvePML.cpp
  Source/FieldSolver/FiniteDifferenceSolver/EvolveB.cpp
  Source/FieldSolver/FiniteDifferenceSolver/EvolveBPML.cpp
  Source/FieldSolver/FiniteDifferenceSolver/FiniteDifferenceSolver.H
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/Initialization/WarpXInitData.cpp
Labels: bug: affects latest release, component: boundary, component: FDTD

#2742 GPU RDC: Disable also for HIP
  cmake/dependencies/AMReX.cmake
Labels: bug, install, bug: affects latest release, backend: hip

#2682 Use signed distance instead of imp. func when computing distance to EB.
  Source/EmbeddedBoundary/WarpXInitEB.cpp
Labels: component: boundary

#2741 Docs: Add Crusher-OLCF
  Docs/source/install/hpc.rst
  Docs/source/install/hpc/crusher.rst
  Tools/machines/crusher-olcf/crusher_warpx.profile.example
  Tools/machines/crusher-olcf/submit.sh
Labels: component: documentation, machine / system

#2513 Field probe line detector
  .azure-pipelines.yml
  .zenodo.json
  Docs/source/install/dependencies.rst
  Docs/source/install/hpc/summit.rst
  Docs/source/usage/parameters.rst
  Examples/Tests/FieldProbe/analysis_field_probe.py
  Examples/Tests/FieldProbe/inputs_2d
  Examples/Tests/reduced_diags/inputs
  Regression/WarpX-tests.ini
  Regression/requirements.txt
  Source/Diagnostics/ReducedDiags/FieldProbe.H
  Source/Diagnostics/ReducedDiags/FieldProbe.cpp
  Source/Diagnostics/ReducedDiags/FieldProbeParticleContainer.cpp
  Source/Evolve/WarpXEvolve.cpp
  requirements.txt
Labels: component: diagnostics

#2744 Fix ASSERT for Hybrid Scheme & MR
  Source/WarpX.cpp
Labels: cleaning

#2747 CI: Use New "verbose" mode
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
Labels: component: tests

#2745 Set geometry earlier in picmi
  Python/pywarpx/picmi.py
Labels: component: PICMI

#2749 CI: Use new "archive_output = 0" mode
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
Labels: component: tests

#2726 Python: Fix UB in Inputs Passing
  Python/pywarpx/_libwarpx.py
Labels: bug, bug: affects latest release, component: Python

#2754 Do Not Read/Use Centering Info if do_nodal=1
  Source/WarpX.cpp
Labels: cleaning

#2750 Docs: Python Dev Install `--no-deps`
  CMakeLists.txt
  Docs/source/install/cmake.rst
  Docs/source/install/hpc/summit.rst
Labels: component: documentation, component: Python

#2759 RZ: Do Not Add geometry.coord_sys
  Source/Utils/WarpXUtil.cpp
Labels: warning, component: RZ

#2760 CI: Run `initial_distribution` on 1 MPI Process
  Regression/WarpX-tests.ini
Labels: bug, component: tests

#2762 Fix override default particle tiling
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  Source/Initialization/WarpXAMReXInit.cpp
  Source/Particles/WarpXParticleContainer.cpp
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party, component: core

#2761 RigidInjection_BTD: Specify H5 Backend
  Examples/Modules/RigidInjection/inputs_2d_BoostedFrame
Labels: bug, component: openPMD, component: tests, bug: affects latest release, component: diagnostics

#2757 Docs: Reorder HPC Profiles + Batch Scripts
  Docs/source/install/hpc/cori.rst
  Docs/source/install/hpc/crusher.rst
  Docs/source/install/hpc/juwels.rst
  Docs/source/install/hpc/lassen.rst
  Docs/source/install/hpc/ookami.rst
  Docs/source/install/hpc/perlmutter.rst
  Docs/source/install/hpc/quartz.rst
  Docs/source/install/hpc/spock.rst
  Docs/source/install/hpc/summit.rst
  Tools/machines/cori-nersc/cori_gpu.sbatch
  Tools/machines/cori-nersc/cori_haswell.sbatch
  Tools/machines/cori-nersc/cori_knl.sbatch
  Tools/machines/cori-nersc/gpu_warpx.profile.example
  Tools/machines/cori-nersc/haswell_warpx.profile.example
  Tools/machines/cori-nersc/knl_warpx.profile.example
  Tools/machines/juwels-jsc/juwels.sbatch
  Tools/machines/juwels-jsc/juwels_warpx.profile.example
  Tools/machines/lassen-llnl/lassen.bsub
  Tools/machines/lassen-llnl/lassen_warpx.profile.example
  Tools/machines/ookami-sbu/ookami_warpx.profile.example
  Tools/machines/perlmutter-nersc/perlmutter.sbatch
  Tools/machines/perlmutter-nersc/perlmutter_warpx.profile.example
  Tools/machines/quartz-llnl/quartz.sbatch
  Tools/machines/quartz-llnl/quartz_warpx.profile.example
  Tools/machines/spock-olcf/spock_mi100.sbatch
  Tools/machines/spock-olcf/spock_warpx.profile.example
  Tools/machines/summit-olcf/summit_power9.bsub
  Tools/machines/summit-olcf/summit_profiling.bsub
  Tools/machines/summit-olcf/summit_v100.bsub
  Tools/machines/summit-olcf/summit_warpx.profile.example
Labels: component: documentation, cleaning, machine / system

#2758 Sphinx: Clean Warnings/Formatting
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  Docs/source/developers/fields.rst
  Docs/source/usage/parameters.rst
  Docs/source/usage/workflows/debugging.rst
  Docs/source/usage/workflows/profiling.rst
Labels: component: documentation, cleaning

#2766 Fix unstable Python_particle_attr_access CI tests
  Examples/Tests/ParticleDataPython/PICMI_inputs_2d.py
  Examples/Tests/restart/PICMI_inputs_runtime_component_analyze.py
Labels: bug, component: tests, bug: affects latest release, component: Python

#2763 Docs: Clang 7+
  Docs/source/install/dependencies.rst
Labels: component: documentation, install

#2767 Doc: Perlmutter Note `_g` Batch Script
  Tools/machines/perlmutter-nersc/perlmutter.sbatch
Labels: component: documentation, machine / system

#2211 Implement PML for the outer RZ boundary with PSATD
  Examples/Tests/PML/analysis_pml_psatd_rz.py
  Examples/Tests/PML/inputs_rz
  Regression/Checksum/benchmarks_json/pml_psatd_rz.json
  Regression/WarpX-tests.ini
  Source/BoundaryConditions/CMakeLists.txt
  Source/BoundaryConditions/Make.package
  Source/BoundaryConditions/PML_RZ.H
  Source/BoundaryConditions/PML_RZ.cpp
  Source/BoundaryConditions/PML_RZ_fwd.H
  Source/BoundaryConditions/WarpXEvolvePML.cpp
  Source/Diagnostics/FlushFormats/FlushFormatCheckpoint.cpp
  Source/Diagnostics/WarpXIO.cpp
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/CMakeLists.txt
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/Make.package
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PMLPsatdAlgorithmRZ.H
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PMLPsatdAlgorithmRZ.cpp
  Source/FieldSolver/SpectralSolver/SpectralFieldData.H
  Source/FieldSolver/SpectralSolver/SpectralFieldData.cpp
  Source/FieldSolver/SpectralSolver/SpectralSolverRZ.H
  Source/FieldSolver/SpectralSolver/SpectralSolverRZ.cpp
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/Parallelization/GuardCellManager.H
  Source/Parallelization/GuardCellManager.cpp
  Source/Parallelization/WarpXComm.cpp
  Source/Utils/WarpXMovingWindow.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: enhancement, component: spectral, component: RZ, component: boundary

#2752 AMReX/PICSAR: Weekly Update
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#2710 Access species specific charge density from python
  Docs/source/usage/examples.rst
  Examples/Physics_applications/capacitive_discharge/PICMI_inputs_1d.py
  Examples/Physics_applications/capacitive_discharge/README.md
  Examples/Physics_applications/capacitive_discharge/analysis_1d.py
  Python/pywarpx/_libwarpx.py
  Regression/WarpX-tests.ini
  Source/Python/WarpXWrappers.H
  Source/Python/WarpXWrappers.cpp
Labels: component: Python

#2771 Delete check on "legacy parameter" coord_sys, since it is automatically set by AMReX
  Source/WarpX.cpp
Labels: warning

#2769 CI: GNUmake
  .github/workflows/cuda.yml
  Source/Make.WarpX
  Tools/Release/updateAMReX.py
Labels: backend: cuda, component: tests, install

#2394 PML Exchanges: Less Duplicate Code
  Source/BoundaryConditions/PML.H
  Source/BoundaryConditions/PML.cpp
  Source/Parallelization/WarpXComm.cpp
  Source/WarpX.H
Labels: cleaning, component: parallelization, component: boundary

#2773 AMReX/PICSAR: Weekly Update
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#2770 Docs: Crusher Load `cce` module
  Tools/machines/crusher-olcf/crusher_warpx.profile.example
Labels: component: documentation, backend: hip, machine / system

#2775 RZ FDTD: Filter Not Working (Abort)
  Examples/Physics_applications/laser_acceleration/PICMI_inputs_rz.py
  Examples/Physics_applications/laser_acceleration/inputs_rz
  Regression/Checksum/benchmarks_json/LaserAccelerationRZ.json
  Regression/Checksum/benchmarks_json/Python_LaserAccelerationRZ.json
  Source/WarpX.cpp
Labels: bug, component: RZ

#2781 Funding/Acknowledgements: CEA-LIDYL
  Docs/source/acknowledgements.rst
Labels: component: documentation

#2777 Add SyncRho call to warpx_depositChargeDensity
  Examples/Physics_applications/capacitive_discharge/PICMI_inputs_1d.py
  Examples/Physics_applications/capacitive_discharge/analysis_1d.py
  Python/pywarpx/_libwarpx.py
  Source/Python/WarpXWrappers.H
  Source/Python/WarpXWrappers.cpp
Labels: bug, component: Python

#2784 Zenodo: Add Hannah Klion
  .zenodo.json
Labels: component: documentation

#2790 Expose WarpXParticleContainer::sumParticleCharge to Python
  Python/pywarpx/_libwarpx.py
  Source/Particles/WarpXParticleContainer.cpp
  Source/Python/WarpXWrappers.H
  Source/Python/WarpXWrappers.cpp
Labels: bug, component: Python

#2789 Regressions: Remove Tolerance
  Regression/WarpX-tests.ini
Labels: bug, component: tests

#2791 Add Python callbacks before and after collisions
  Python/pywarpx/callbacks.py
  Source/Evolve/WarpXEvolve.cpp
  Source/Python/WarpX_py.H
Labels: component: Python

#2787 Fix Docs of MinAndMaxPositions
  Source/ablastr/particles/ParticleMoments.H
Labels: bug, component: documentation, bug: affects latest release, component: ABLASTR

#2786 Fix: Move MPI Thread Level Check
  Source/Initialization/WarpXInitData.cpp
  Source/Utils/MPIInitHelpers.H
  Source/Utils/MPIInitHelpers.cpp
  Source/main.cpp
Labels: bug, bug: affects latest release, component: parallelization

#2783 Docs: Update Acknowledgement & Citations
  .zenodo.json
  Docs/source/acknowledge_us.rst
  README.md
Labels: component: documentation

#2802 FieldProbe: Fixed Assert Typo
  Source/Diagnostics/ReducedDiags/FieldProbe.cpp
Labels: component: documentation, cleaning, component: diagnostics

#2803 `Langmuir_multi_psatd_div_cleaning`: Remove G Benchmark
  Regression/Checksum/benchmarks_json/Langmuir_multi_psatd_div_cleaning.json
  Regression/WarpX-tests.ini
Labels: component: tests

#2804 BTD: Clean print statement left over from debugging
  Source/Particles/PhysicalParticleContainer.cpp
Labels: cleaning, component: diagnostics

#2800 Add Modern Electron contributors to .zenodo.json
  .zenodo.json
Labels: component: documentation
