Repository BLAST-WarpX/warpx, pull requests merged in 2023-09, with the labels that each got.

#4254 PICMI: LabFrameParticleDiagnostic w/ Species
  Python/pywarpx/picmi.py
Labels: component: diagnostics, component: Python, component: boosted frame

#4255 PICMI: warpx.numprocs
  Python/pywarpx/picmi.py
Labels: component: PICMI

#4258 Use input parameter parser for lattice elements
  Source/AcceleratorLattice/LatticeElements/HardEdgedPlasmaLens.cpp
  Source/AcceleratorLattice/LatticeElements/HardEdgedQuadrupole.cpp
  Source/AcceleratorLattice/LatticeElements/LatticeElementBase.cpp
Labels: component: accelerator lattice

#4256 make explicit the options from full diags also available in BTD
  Docs/source/usage/parameters.rst
Labels: component: documentation, component: diagnostics

#4270 Fix macos CI
  .github/workflows/macos.yml
Labels: component: tests

#4271 add symmetrize to PICMI
  Python/pywarpx/picmi.py
Labels: enhancement, component: PICMI

#4257 Add particle resampling inputs to `picmi.py`
  Python/pywarpx/picmi.py
Labels: component: PICMI

#4273 Use latest lasy version
  Regression/requirements.txt
Labels: component: third party, component: Python

#4267 Clang tidy CI test: add selected google-* checks
  .clang-tidy
  Source/BoundaryConditions/WarpX_PML_kernels.H
  Source/Diagnostics/ReducedDiags/FieldProbe.H
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithmGalileanRZ.cpp
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithmPmlRZ.cpp
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithmRZ.cpp
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/SpectralBaseAlgorithmRZ.cpp
  Source/FieldSolver/SpectralSolver/SpectralFieldDataRZ.cpp
  Source/FieldSolver/SpectralSolver/SpectralHankelTransform/HankelTransform.cpp
  Source/Initialization/PlasmaInjector.cpp
  Source/Particles/Collision/BinaryCollision/Coulomb/PairWiseCoulombCollisionFunc.H
  Source/Particles/Collision/BinaryCollision/ParticleCreationFunc.H
  Source/Particles/Deposition/CurrentDeposition.H
  Source/Particles/Deposition/SharedDepositionUtils.H
  Source/Particles/Filter/FilterFunctors.H
  Source/Particles/PhysicalParticleContainer.H
  Source/Particles/WarpXParticleContainer.H
  Source/Utils/ParticleUtils.H
Labels: component: tests, cleaning

#4274 Docs: mpi4py in MPI-Conda Deps
  Docs/source/install/dependencies.rst
Labels: bug, component: documentation, install, component: parallelization, component: Python

#4266 Add lower and upper bound params to regular diags in PICMI
  Python/pywarpx/picmi.py
Labels: changes input scripts / defaults, component: Python

#4276 Fix parallel hanging in lasy reading
  Source/Laser/LaserProfiles.H
  Source/Laser/LaserProfilesImpl/LaserProfileFromFile.cpp
Labels: bug, component: parallelization

#4277 Release 23.09
  .github/workflows/cuda.yml
  CMakeLists.txt
  Docs/source/conf.py
  Python/setup.py
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/PICSAR.cmake
  run_test.sh
  setup.py
Labels: component: documentation, component: third party

#4278 Lassen RHEL8
  Docs/source/install/hpc/lassen.rst
  Tools/machines/lassen-llnl/install_v100_dependencies.sh
  Tools/machines/lassen-llnl/install_v100_ml.sh
  Tools/machines/lassen-llnl/lassen_v100.bsub
  Tools/machines/lassen-llnl/lassen_v100_warpx.profile.example
  Tools/machines/lassen-llnl/lassen_warpx.profile.example
  Tools/machines/summit-olcf/summit_warpx.profile.example
Labels: component: documentation, machine / system, component: Python

#4281 Quartz (LLNL): New Modules, Clang
  Docs/source/install/hpc/quartz.rst
  Tools/machines/quartz-llnl/quartz_warpx.profile.example
Labels: component: documentation, machine / system

#4283 Lassen (LLNL): GNU 11.2.1
  Tools/machines/lassen-llnl/install_v100_dependencies.sh
  Tools/machines/lassen-llnl/install_v100_ml.sh
  Tools/machines/lassen-llnl/lassen_v100_warpx.profile.example
Labels: component: documentation, machine / system

#4284 Quartz (LLNL): PICMI Support
  Docs/source/install/hpc/quartz.rst
  Tools/machines/quartz-llnl/install_dependencies.sh
  Tools/machines/quartz-llnl/quartz_warpx.profile.example
Labels: component: documentation, machine / system, component: Python

#4024 add collider-relevant reduced diags
  Docs/source/usage/parameters.rst
  Examples/Tests/collider_relevant_diags/analysis_multiple_particles.py
  Examples/Tests/collider_relevant_diags/inputs_3d_multiple_particles
  Regression/Checksum/benchmarks_json/collider_diagnostics.json
  Regression/WarpX-tests.ini
  Source/Diagnostics/ReducedDiags/CMakeLists.txt
  Source/Diagnostics/ReducedDiags/ColliderRelevant.H
  Source/Diagnostics/ReducedDiags/ColliderRelevant.cpp
  Source/Diagnostics/ReducedDiags/Make.package
  Source/Diagnostics/ReducedDiags/MultiReducedDiags.cpp
  Source/Diagnostics/ReducedDiags/ReducedDiags.cpp
  Tools/Algorithms/stencil.py
  Tools/Parser/__init__.py
  Tools/Parser/input_file_parser.py
Labels: component: diagnostics

#4288 PICMI: Add warpx_intervals option to BTD
  Python/pywarpx/picmi.py
Labels: component: PICMI, component: diagnostics

#4293 AMReX/PICSAR: Weekly Update
  .github/workflows/cuda.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/PICSAR.cmake
  run_test.sh
Labels: component: third party

#4289 Doc: cupy on Perlmutter (NERSC)
  Tools/machines/perlmutter-nersc/install_gpu_dependencies.sh
Labels: backend: cuda, component: documentation, machine / system, component: Python

#4294 Revert PR4266 - lower and uppers bounds
  Python/pywarpx/picmi.py
Labels: changes input scripts / defaults, component: Python

#4298 Add flag to set GPU-aware MPI from PICMI
  Python/pywarpx/picmi.py
Labels: component: Python

#4253 Clang tidy CI test: add misc-definitions-in-headers check
  .clang-tidy
  Source/FieldSolver/SpectralSolver/SpectralHankelTransform/BesselRoots.H
  Source/FieldSolver/SpectralSolver/SpectralHankelTransform/BesselRoots.cpp
  Source/FieldSolver/SpectralSolver/SpectralHankelTransform/CMakeLists.txt
  Source/FieldSolver/SpectralSolver/SpectralHankelTransform/Make.package
  Source/Initialization/InjectorMomentum.H
  Source/Particles/Sorting/CMakeLists.txt
  Source/Particles/Sorting/Make.package
  Source/Particles/Sorting/SortingUtils.H
  Source/Particles/Sorting/SortingUtils.cpp
Labels: component: tests, cleaning

#4292 Conda: `make`
  Docs/source/install/dependencies.rst
Labels: component: documentation, install, component: third party

#4290 Doc: Conda CUDA Development
  Docs/source/install/dependencies.rst
Labels: backend: cuda, component: documentation, install, component: third party

#4309 AMReX/PICSAR: Weekly Update
  .github/workflows/cuda.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#4304 Prevent NaNs in Coulomb collision module
  Source/Particles/Collision/BinaryCollision/Coulomb/UpdateMomentumPerezElastic.H
Labels: bug, bug: affects latest release, component: collisions

#4297 Fix check of PML + Silver Mueller compatibility
  Source/WarpX.cpp
Labels: bug, bug: affects latest release

#4311 Lassen (LLNL): Sources & Builds Off-Home
  Docs/source/install/hpc/lassen.rst
  Tools/machines/lassen-llnl/install_v100_dependencies.sh
  Tools/machines/lassen-llnl/install_v100_ml.sh
  Tools/machines/lassen-llnl/lassen_v100_warpx.profile.example
Labels: component: documentation, machine / system

#733 Implement Galilean PML
  Examples/Tests/pml/analysis_pml_psatd.py
  Regression/Checksum/benchmarks_json/pml_x_galilean.json
  Regression/WarpX-tests.ini
  Source/BoundaryConditions/PML.cpp
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithmPml.H
  Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithmPml.cpp
  Source/FieldSolver/SpectralSolver/SpectralSolver.cpp
Labels: component: spectral, component: boundary

#4268 Clang tidy CI test: add almost all misc-* checks
  .clang-tidy
Labels: component: tests, cleaning

#4203 Use cupy when available with the particle container wrapper
  Python/pywarpx/LoadThirdParty.py
  Python/pywarpx/__init__.py
  Python/pywarpx/particle_containers.py
Labels: backend: cuda, component: Python

#4318 Fix distribution map initialization for particle buffers in BTD
  Source/Diagnostics/BTDiagnostics.cpp
Labels: Performance optimization, component: diagnostics, component: boosted frame

#4302 Doc: Perlmutter (NERSC) E4S 23.05 Boost & CCache
  Tools/machines/perlmutter-nersc/perlmutter_cpu_warpx.profile.example
  Tools/machines/perlmutter-nersc/perlmutter_gpu_warpx.profile.example
Labels: component: documentation, component: QED, machine / system

#4300 Add `get_charge_density` to python `WarpXParticleContainer`
  Python/pywarpx/fields.py
  Source/Python/Particles/WarpXParticleContainer.cpp
Labels: component: Python

#4322 AMReX/PICSAR: Weekly Update
  .github/workflows/cuda.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#4262 Particle fields diagnostic support for PICMI
  Python/pywarpx/picmi.py
Labels: component: PICMI

#4323 Add particle sorting parameters to pywarpx
  Python/pywarpx/picmi.py
Labels: changes input scripts / defaults, component: Python

#4325 Glossary: CEX, SEE
  Docs/source/glossary.rst
Labels: component: documentation, component: collisions

#3991 Add fluids in WarpX
  CMakeLists.txt
  Docs/source/index.rst
  Docs/source/theory/Fluid_Loop.png
  Docs/source/theory/cold_fluid_model.rst
  Docs/source/usage/parameters.rst
  Examples/Physics_applications/laser_acceleration/analysis_1d_fluids.py
  Examples/Physics_applications/laser_acceleration/analysis_1d_fluids_boosted.py
  Examples/Physics_applications/laser_acceleration/inputs_1d_fluids
  Examples/Physics_applications/laser_acceleration/inputs_1d_fluids_boosted
  Examples/Tests/langmuir_fluids/analysis_1d.py
  Examples/Tests/langmuir_fluids/analysis_2d.py
  Examples/Tests/langmuir_fluids/analysis_3d.py
  Examples/Tests/langmuir_fluids/analysis_rz.py
  Examples/Tests/langmuir_fluids/inputs_1d
  Examples/Tests/langmuir_fluids/inputs_2d
  Examples/Tests/langmuir_fluids/inputs_3d
  Examples/Tests/langmuir_fluids/inputs_rz
  Regression/Checksum/benchmarks_json/Langmuir_fluid_1D.json
  Regression/Checksum/benchmarks_json/Langmuir_fluid_2D.json
  Regression/Checksum/benchmarks_json/Langmuir_fluid_RZ.json
  Regression/Checksum/benchmarks_json/Langmuir_fluid_multi.json
  Regression/Checksum/benchmarks_json/LaserAcceleration_1d_fluid.json
  Regression/Checksum/benchmarks_json/LaserAcceleration_1d_fluid_boosted.json
  Regression/WarpX-tests.ini
  Source/Diagnostics/ComputeDiagFunctors/RhoFunctor.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/FieldSolver/ElectrostaticSolver.cpp
  Source/FieldSolver/WarpXPushFieldsHybridPIC.cpp
  Source/Fluids/CMakeLists.txt
  Source/Fluids/Make.package
  Source/Fluids/MultiFluidContainer.H
  Source/Fluids/MultiFluidContainer.cpp
  Source/Fluids/MultiFluidContainer_fwd.H
  Source/Fluids/MusclHancockUtils.H
  Source/Fluids/WarpXFluidContainer.H
  Source/Fluids/WarpXFluidContainer.cpp
  Source/Fluids/WarpXFluidContainer_fwd.H
  Source/Initialization/PlasmaInjector.H
  Source/Initialization/PlasmaInjector.cpp
  Source/Make.WarpX
  Source/Particles/MultiParticleContainer.H
  Source/Particles/Pusher/UpdateMomentumHigueraCary.H
  Source/Python/WarpX.cpp
  Source/Utils/CMakeLists.txt
  Source/Utils/Make.package
  Source/Utils/SpeciesUtils.H
  Source/Utils/SpeciesUtils.cpp
  Source/Utils/WarpXMovingWindow.cpp
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: fluid

#4291 RZ m=0 mode support for particle field diagnostics
  Source/Diagnostics/ComputeDiagFunctors/ParticleReductionFunctor.cpp
  Source/Diagnostics/Diagnostics.cpp
  Source/Diagnostics/FullDiagnostics.cpp
Labels: component: diagnostics, geometry: RZ

#4328 Fix clang-tidy error [readability-simplify-boolean-expr]
  Source/WarpX.cpp
Labels: component: tests, cleaning
