Repository BLAST-WarpX/warpx, pull requests merged in 2024-12, with the labels that each got.

#5477 Update Perlmutter profiles to fix Boost dependency
  Tools/machines/perlmutter-nersc/perlmutter_cpu_warpx.profile.example
  Tools/machines/perlmutter-nersc/perlmutter_gpu_warpx.profile.example
Labels: bug, component: documentation, install, bug: affects latest release, machine / system

#5474 CI: fix Clang UB sanitizer, disable Clang thread sanitizer
  .github/workflows/clang_sanitizers.yml
  .github/workflows/dependencies/clang17.sh
Labels: bug, component: tests

#5479 Add reduced_diags general input
  Docs/source/usage/parameters.rst
  Examples/Physics_applications/laser_ion/inputs_test_2d_laser_ion_acc_picmi.py
  Examples/Tests/implicit/inputs_test_1d_semi_implicit_picard
  Examples/Tests/implicit/inputs_test_1d_theta_implicit_picard
  Examples/Tests/implicit/inputs_test_2d_theta_implicit_jfnk_vandb
  Examples/Tests/implicit/inputs_test_2d_theta_implicit_jfnk_vandb_filtered
  Examples/Tests/implicit/inputs_test_2d_theta_implicit_strang_psatd
  Python/pywarpx/picmi.py
  Source/Diagnostics/ReducedDiags/ReducedDiags.cpp
Labels: component: diagnostics

#5490 Fix read_raw_data.py script
  Tools/PostProcessing/read_raw_data.py
Labels: component: diagnostics

#5491 Remove unused function `ScrapeParticles`
  Source/WarpX.H
Labels: cleaning

#5473 Add multifab method that takes an int for the direction
  Source/Python/WarpX.cpp
Labels: component: Python

#5499 Fix the extrapolation for guard cells in the insulator region
  Source/BoundaryConditions/PEC_Insulator.cpp
Labels: bug, bug: affects latest release, component: boundary

#5488 Fix the time for the insulator boundary field evaluation
  Regression/Checksum/benchmarks_json/test_2d_pec_field_insulator.json
  Source/BoundaryConditions/WarpXFieldBoundaries.cpp
  Source/Evolve/WarpXEvolve.cpp
  Source/FieldSolver/FiniteDifferenceSolver/HybridPICModel/HybridPICModel.cpp
  Source/FieldSolver/ImplicitSolvers/SemiImplicitEM.H
  Source/FieldSolver/ImplicitSolvers/SemiImplicitEM.cpp
  Source/FieldSolver/ImplicitSolvers/StrangImplicitSpectralEM.H
  Source/FieldSolver/ImplicitSolvers/StrangImplicitSpectralEM.cpp
  Source/FieldSolver/ImplicitSolvers/ThetaImplicitEM.H
  Source/FieldSolver/ImplicitSolvers/ThetaImplicitEM.cpp
  Source/FieldSolver/ImplicitSolvers/WarpXImplicitOps.cpp
  Source/FieldSolver/SpectralSolver/SpectralSolver.H
  Source/FieldSolver/SpectralSolver/SpectralSolver.cpp
  Source/FieldSolver/SpectralSolver/SpectralSolverRZ.H
  Source/FieldSolver/SpectralSolver/SpectralSolverRZ.cpp
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/WarpX.H
Labels: component: boundary

#5079 Add Dan Barnes' effective potential (semi-implicit) Poisson solver
  Docs/source/refs.bib
  Docs/source/usage/parameters.rst
  Examples/Tests/CMakeLists.txt
  Examples/Tests/effective_potential_electrostatic/CMakeLists.txt
  Examples/Tests/effective_potential_electrostatic/analysis.py
  Examples/Tests/effective_potential_electrostatic/inputs_test_3d_effective_potential_electrostatic_picmi.py
  GNUmakefile
  Python/pywarpx/picmi.py
  Regression/Checksum/benchmarks_json/test_3d_effective_potential_electrostatic_picmi.json
  Source/Diagnostics/Diagnostics.cpp
  Source/FieldSolver/ElectrostaticSolvers/CMakeLists.txt
  Source/FieldSolver/ElectrostaticSolvers/EffectivePotentialES.H
  Source/FieldSolver/ElectrostaticSolvers/EffectivePotentialES.cpp
  Source/FieldSolver/ElectrostaticSolvers/Make.package
  Source/Initialization/WarpXInitData.cpp
  Source/Utils/WarpXAlgorithmSelection.H
  Source/WarpX.cpp
  Source/ablastr/fields/EffectivePotentialPoissonSolver.H
  Source/ablastr/fields/PoissonSolver.H
  cmake/dependencies/AMReX.cmake
Labels: enhancement, component: electrostatic

#5503 Add `verbosity` flag for diagnostic output print statements
  Source/Diagnostics/BTDiagnostics.cpp
  Source/Diagnostics/BoundaryScrapingDiagnostics.cpp
  Source/Diagnostics/Diagnostics.H
  Source/Diagnostics/Diagnostics.cpp
  Source/Diagnostics/FlushFormats/FlushFormat.H
  Source/Diagnostics/FlushFormats/FlushFormatAscent.H
  Source/Diagnostics/FlushFormats/FlushFormatAscent.cpp
  Source/Diagnostics/FlushFormats/FlushFormatCatalyst.H
  Source/Diagnostics/FlushFormats/FlushFormatCatalyst.cpp
  Source/Diagnostics/FlushFormats/FlushFormatCheckpoint.H
  Source/Diagnostics/FlushFormats/FlushFormatCheckpoint.cpp
  Source/Diagnostics/FlushFormats/FlushFormatOpenPMD.H
  Source/Diagnostics/FlushFormats/FlushFormatOpenPMD.cpp
  Source/Diagnostics/FlushFormats/FlushFormatPlotfile.H
  Source/Diagnostics/FlushFormats/FlushFormatPlotfile.cpp
  Source/Diagnostics/FlushFormats/FlushFormatSensei.H
  Source/Diagnostics/FlushFormats/FlushFormatSensei.cpp
  Source/Diagnostics/FullDiagnostics.cpp
Labels: component: diagnostics

#5509 Update Dane install to put sources in the workspace directory
  Docs/source/install/hpc/dane.rst
  Tools/machines/dane-llnl/dane_warpx.profile.example
  Tools/machines/dane-llnl/install_dependencies.sh
Labels: machine / system

#5089 Add quasi-3D Integrated Green Functions solver
  Docs/source/usage/parameters.rst
  Examples/Tests/open_bc_poisson_solver/CMakeLists.txt
  Examples/Tests/open_bc_poisson_solver/analysis.py
  Examples/Tests/open_bc_poisson_solver/inputs_test_3d_open_bc_poisson_solver_sliced
  Regression/Checksum/benchmarks_json/test_3d_open_bc_poisson_solver_sliced.json
  Source/FieldSolver/ElectrostaticSolvers/ElectrostaticSolver.H
  Source/FieldSolver/ElectrostaticSolvers/ElectrostaticSolver.cpp
  Source/FieldSolver/ElectrostaticSolvers/LabFrameExplicitES.H
  Source/FieldSolver/ElectrostaticSolvers/LabFrameExplicitES.cpp
  Source/FieldSolver/ElectrostaticSolvers/RelativisticExplicitES.H
  Source/FieldSolver/ElectrostaticSolvers/RelativisticExplicitES.cpp
  Source/ablastr/fields/IntegratedGreenFunctionSolver.H
  Source/ablastr/fields/IntegratedGreenFunctionSolver.cpp
  Source/ablastr/fields/PoissonSolver.H
Labels: component: spectral, component: electrostatic

#5498 Fix FieldEnergy reduced diagnostic
  Source/Diagnostics/ReducedDiags/FieldEnergy.H
  Source/Diagnostics/ReducedDiags/FieldEnergy.cpp
Labels: component: diagnostics

#5516 Follow-up: quasi-3D IGF solver
  Docs/source/usage/parameters.rst
  Source/ablastr/fields/IntegratedGreenFunctionSolver.cpp
Labels: component: documentation, cleaning, component: ABLASTR
