Repository BLAST-WarpX/warpx, pull requests merged in 2024-02, with the labels that each got.

#4655 Docs: update instructions for Adastra supercomputer (CINES, France)
  Docs/source/install/hpc/adastra.rst
  Tools/machines/adastra-cines/adastra_warpx.profile.example
  Tools/machines/adastra-cines/install_dependencies.sh
  Tools/machines/adastra-cines/submit.sh
Labels: component: documentation, machine / system

#4658 Fix doc for doChargeConservingDepositionShapeNImplicit
  Source/Particles/Deposition/CurrentDeposition.H
Labels: component: documentation

#4637 Add WarpX_CCACHE Option
  CMakeLists.txt
  Docs/source/install/cmake.rst
Labels: install

#4634 Update profile and job script for LUMI supercomputer
  Tools/machines/lumi-csc/lumi_warpx.profile.example
  Tools/machines/lumi-csc/submit.sh
Labels: install, machine / system

#4657 Fix BTD/Scrape Flush Count with Filters
  Source/Diagnostics/BTDiagnostics.H
  Source/Diagnostics/BTDiagnostics.cpp
  Source/Diagnostics/BoundaryScrapingDiagnostics.cpp
  Source/Diagnostics/Diagnostics.H
  Source/Diagnostics/FlushFormats/FlushFormat.H
  Source/Diagnostics/FlushFormats/FlushFormatAscent.H
  Source/Diagnostics/FlushFormats/FlushFormatAscent.cpp
  Source/Diagnostics/FlushFormats/FlushFormatCheckpoint.H
  Source/Diagnostics/FlushFormats/FlushFormatCheckpoint.cpp
  Source/Diagnostics/FlushFormats/FlushFormatOpenPMD.H
  Source/Diagnostics/FlushFormats/FlushFormatOpenPMD.cpp
  Source/Diagnostics/FlushFormats/FlushFormatPlotfile.H
  Source/Diagnostics/FlushFormats/FlushFormatPlotfile.cpp
  Source/Diagnostics/FlushFormats/FlushFormatSensei.H
  Source/Diagnostics/FlushFormats/FlushFormatSensei.cpp
  Source/Diagnostics/FullDiagnostics.cpp
  Source/Diagnostics/OpenPMDHelpFunction.H
  Source/Diagnostics/OpenPMDHelpFunction.cpp
  Source/Diagnostics/WarpXOpenPMD.H
  Source/Diagnostics/WarpXOpenPMD.cpp
Labels: bug, bug: affects latest release, component: diagnostics, component: boundary, component: boosted frame

#4660 Release 24.02
  .github/workflows/cuda.yml
  CMakeLists.txt
  Docs/source/conf.py
  Python/setup.py
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/pyAMReX.cmake
  run_test.sh
  setup.py
Labels: component: documentation, component: third party

#4636 Add install instructions for ALCF's Polaris
  Docs/source/install/hpc.rst
  Docs/source/install/hpc/polaris.rst
  Tools/machines/polaris-alcf/install_gpu_dependencies.sh
  Tools/machines/polaris-alcf/polaris_gpu.pbs
  Tools/machines/polaris-alcf/polaris_gpu_warpx.profile.example
Labels: component: documentation, machine / system

#4623 Implemented Villasenor and Buneman deposition routine for implicit solver
  Examples/Tests/Implicit/analysis_vandb_2d.py
  Examples/Tests/Implicit/inputs_vandb_2d
  Regression/Checksum/benchmarks_json/ImplicitPicard_VandB_2d.json
  Regression/WarpX-tests.ini
  Source/Diagnostics/WarpXOpenPMD.cpp
  Source/Initialization/WarpXInitData.cpp
  Source/Particles/Deposition/CurrentDeposition.H
  Source/Particles/Gather/FieldGather.H
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Particles/ShapeFactors.H
  Source/Particles/WarpXParticleContainer.cpp
  Source/Utils/WarpXAlgorithmSelection.H
  Source/Utils/WarpXAlgorithmSelection.cpp
  Source/WarpX.H
  Source/WarpX.cpp
  Source/ablastr/particles/DepositCharge.H
Labels: component: core, component: implicit solvers

#4668 Fix: Pre-Installed AMReX w/ CUDA
  cmake/dependencies/AMReX.cmake
Labels: bug, backend: cuda, install, bug: affects latest release

#4661 Add hybrid resistivity current term
  Docs/source/usage/parameters.rst
  Python/pywarpx/picmi.py
  Source/FieldSolver/FiniteDifferenceSolver/HybridPICModel/HybridPICModel.H
  Source/FieldSolver/FiniteDifferenceSolver/HybridPICModel/HybridPICModel.cpp
  Source/FieldSolver/FiniteDifferenceSolver/HybridPICSolveE.cpp
Labels: enhancement, component: fluid-ohm

#4673 CI: 4 Cores Linux/Win, 3 Cores macOS
  .github/workflows/clang_tidy.yml
  .github/workflows/codeql.yml
  .github/workflows/cuda.yml
  .github/workflows/hip.yml
  .github/workflows/insitu.yml
  .github/workflows/intel.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Labels: component: tests

#4674 Update GitHub Action versions
  .github/workflows/clang_tidy.yml
  .github/workflows/cleanup-cache-postpr.yml
  .github/workflows/cleanup-cache.yml
  .github/workflows/codeql.yml
  .github/workflows/cuda.yml
  .github/workflows/hip.yml
  .github/workflows/insitu.yml
  .github/workflows/intel.yml
  .github/workflows/macos.yml
  .github/workflows/post-pr.yml
  .github/workflows/source.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Labels: component: tests

#4664 Update Polaris install instructions
  Tools/machines/polaris-alcf/install_gpu_dependencies.sh
  Tools/machines/polaris-alcf/polaris_gpu_warpx.profile.example
Labels: component: documentation, install, machine / system

#4665 Minor fix in SLURM signal forwarding description
  Docs/source/usage/parameters.rst
Labels: component: documentation

#4659 ParticleHistogram2D change openPMD access type
  Docs/source/usage/parameters.rst
  Source/Diagnostics/ReducedDiags/ParticleHistogram2D.H
  Source/Diagnostics/ReducedDiags/ParticleHistogram2D.cpp
Labels: warning, component: diagnostics

#4679 CI: NVHPC 24.1
  .github/workflows/cuda.yml
  .github/workflows/dependencies/nvhpc.sh
  Source/Diagnostics/BTD_Plotfile_Header_Impl.H
  Source/Diagnostics/BTD_Plotfile_Header_Impl.cpp
Labels: backend: cuda, component: tests

#4680 Update pyAMReX to `development`
  Python/pywarpx/particle_containers.py
  cmake/dependencies/pyAMReX.cmake
Labels: component: third party, component: Python

#4678 AMReX/pyAMReX: Weekly Update
  .github/workflows/cuda.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#4682 Update openPMD-viewer documentation
  Docs/source/dataanalysis/openpmdviewer.rst
Labels: component: documentation

#4624 Apply filtering for the charge density in full diagnostics RZ PSATD
  Regression/Checksum/benchmarks_json/galilean_rz_psatd.json
  Regression/Checksum/benchmarks_json/multi_J_rz_psatd.json
  Source/Diagnostics/BTDiagnostics.cpp
  Source/Diagnostics/ComputeDiagFunctors/RhoFunctor.H
  Source/Diagnostics/ComputeDiagFunctors/RhoFunctor.cpp
  Source/Diagnostics/FullDiagnostics.cpp
  Source/Diagnostics/ReducedDiags/RhoMaximum.cpp
Labels: component: spectral, component: diagnostics, geometry: RZ

#4413 Add automated test for spacecraft charging
  Examples/Physics_applications/spacecraft_charging/PICMI_inputs_rz.py
  Examples/Physics_applications/spacecraft_charging/analysis.py
  Regression/Checksum/benchmarks_json/spacecraft_charging.json
  Regression/WarpX-tests.ini
Labels: component: tests

#4686 Fix: openPMD RZ Positions
  Regression/Checksum/benchmarks_json/spacecraft_charging.json
  Source/Diagnostics/WarpXOpenPMD.cpp
Labels: bug, component: openPMD, component: diagnostics, geometry: RZ

#4690 AMReX/pyAMReX/PICSAR: Weekly Update
  .github/workflows/cuda.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#4692 Lassen (LLNL) TOSS3: Update
  Docs/source/install/hpc/lassen.rst
  Tools/machines/lassen-llnl/lassen_v100_warpx_toss3.profile.example
Labels: component: documentation, machine / system

#4596 Bugfix: sum guard cell values in current density diagnostic
  Source/Diagnostics/ComputeDiagFunctors/JFunctor.cpp
Labels: bug, bug: affects latest release, component: diagnostics

#4694 HPC3 (UCI): `-j 8`
  Docs/source/install/hpc/hpc3.rst
  Tools/machines/hpc3-uci/install_gpu_dependencies.sh
Labels: component: documentation, machine / system

#4693 Add PICMI documentation for ReducedDiagnostics
  Docs/source/usage/python.rst
Labels: component: documentation, component: Python

#4560 Obtain exact point of contact of Particles with EB
  Examples/Tests/point_of_contact_EB/analysis.py
  Examples/Tests/point_of_contact_EB/inputs_3d
  Regression/Checksum/benchmarks_json/Point_of_contact_EB_3d.json
  Regression/WarpX-tests.ini
  Source/EmbeddedBoundary/ParticleScraper.H
  Source/Particles/ParticleBoundaryBuffer.cpp
  Source/Particles/Pusher/UpdatePosition.H
Labels: component: boundary

#4696 Removed const modifier from LPInfo object on stack that was causing a…
  Source/ablastr/fields/VectorPoissonSolver.H
Labels: warning, component: magnetostatic

#4656 Docs: update instructions for Fugaku supercomputer (Riken, Japan)
  Docs/source/install/hpc/fugaku.rst
  Source/Particles/Collision/BinaryCollision/BinaryCollision.H
  Tools/machines/fugaku-riken/fugaku_warpx.profile.example
  Tools/machines/fugaku-riken/install_dependencies.sh
  Tools/machines/fugaku-riken/submit.sh
Labels: component: documentation, machine / system

#4708 Fix Particle Id Overflows
  .azure-pipelines.yml
  .github/workflows/cuda.yml
  Docs/source/developers/particles.rst
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  Source/Particles/ParticleCreation/SmartUtils.H
  Source/Particles/PhysicalParticleContainer.cpp
  Source/Particles/Sorting/Partition.cpp
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/pyAMReX.cmake
  run_test.sh
Labels: bug, component: third party

#4714 Cleanup some docstrings
  Source/Particles/MultiParticleContainer.H
Labels: component: documentation

#4702 Save the normal components in the particle buffer when there is EB
  Docs/source/usage/parameters.rst
  Examples/Tests/point_of_contact_EB/analysis.py
  Python/pywarpx/particle_containers.py
  Source/EmbeddedBoundary/DistanceToEB.H
  Source/EmbeddedBoundary/ParticleScraper.H
  Source/Particles/ParticleBoundaryBuffer.cpp
  Source/ablastr/particles/NodalFieldGather.H
Labels: component: boundary

#4639 Add focusing position to Gaussian beam initialization
  Docs/source/usage/parameters.rst
  Examples/Tests/gaussian_beam/analysis_focusing_beam.py
  Examples/Tests/gaussian_beam/inputs_focusing_beam
  Regression/Checksum/benchmarks_json/focusing_gaussian_beam.json
  Regression/WarpX-tests.ini
  Source/Initialization/PlasmaInjector.H
  Source/Initialization/PlasmaInjector.cpp
  Source/Particles/PhysicalParticleContainer.H
  Source/Particles/PhysicalParticleContainer.cpp
Labels: component: initialization

#4722 PICMI: Fix unresolved reference for species
  Python/pywarpx/picmi.py
Labels: bug, bug: affects latest release, component: Python

#4569 Improve Documentation for Laser-Ion Acceleration from Planar Target
  Examples/Physics_applications/laser_ion/PICMI_inputs_2d.py
  Examples/Physics_applications/laser_ion/README.rst
  Examples/Physics_applications/laser_ion/analysis_histogram_2D.py
  Examples/Physics_applications/laser_ion/inputs_2d
  Examples/Physics_applications/laser_ion/plot_2d.py
  Regression/Checksum/benchmarks_json/LaserIonAcc2d.json
  Regression/Checksum/benchmarks_json/Python_LaserIonAcc2d.json
  Regression/WarpX-tests.ini
Labels: component: documentation, component: tests

#4710 Update of the time saved for scraped particles on the boundaries
  Docs/source/usage/parameters.rst
  Examples/Tests/particle_boundary_process/PICMI_inputs_reflection.py
  Examples/Tests/particle_boundary_scrape/PICMI_inputs_scrape.py
  Examples/Tests/point_of_contact_EB/analysis.py
  Python/pywarpx/particle_containers.py
  Source/Particles/ParticleBoundaryBuffer.cpp
Labels: component: boundary

#4728 AMReX/pyAMReX/PICSAR: Weekly Update
  .github/workflows/cuda.yml
  Regression/WarpX-GPU-tests.ini
  Regression/WarpX-tests.ini
  cmake/dependencies/AMReX.cmake
  run_test.sh
Labels: component: third party

#4721 Position keyword now adds position variables in PICMI ParticleDiagnostic
  Docs/source/usage/python.rst
  Examples/Tests/ionization/PICMI_inputs_2d.py
  Examples/Tests/ohm_solver_ion_Landau_damping/PICMI_inputs.py
  Examples/Tests/ohm_solver_ion_beam_instability/PICMI_inputs.py
  Examples/Tests/ohm_solver_magnetic_reconnection/PICMI_inputs.py
  Python/pywarpx/picmi.py
Labels: bug, component: PICMI

#4717 openPMD: Fix Particle Weight Dims in 1D/2D
  Source/Diagnostics/WarpXOpenPMD.cpp
Labels: bug, component: openPMD, bug: affects latest release, component: diagnostics, geometry: 1D/2D

#4731 Clang-Tidy: Fix Diagnostics Branch
  Source/Diagnostics/WarpXOpenPMD.cpp
Labels: warning, component: diagnostics

#4713 Exchange guard cells with the electrostatic solver
  Examples/Tests/energy_conserving_thermal_plasma/analysis.py
  Examples/Tests/energy_conserving_thermal_plasma/inputs_2d_electrostatic
  Regression/Checksum/benchmarks_json/BeamBeamCollision.json
  Regression/Checksum/benchmarks_json/ElectrostaticSphere.json
  Regression/Checksum/benchmarks_json/ElectrostaticSphereLabFrame.json
  Regression/Checksum/benchmarks_json/ElectrostaticSphereRZ.json
  Regression/Checksum/benchmarks_json/EnergyConservingThermalPlasma.json
  Regression/WarpX-tests.ini
  Source/Evolve/WarpXEvolve.cpp
Labels: bug, component: electrostatic, bug: affects latest release, component: parallelization

#4632 Adding support for pml in domain for multiple patches
  Examples/Tests/particles_in_pml/analysis_particles_in_pml_2dmr.py
  Examples/Tests/particles_in_pml/inputs_mr_2d
  Regression/Checksum/benchmarks_json/particles_in_pml_2d_MR.json
  Regression/WarpX-tests.ini
  Source/BoundaryConditions/PML.cpp
Labels: enhancement, component: mesh refinement, component: boundary

#4734 Fix: Windows add_dll_directory Expand
  Python/pywarpx/__init__.py
Labels: bug, bug: affects latest release, machine / system, component: Python
