Repository BLAST-WarpX/warpx, pull requests merged in 2024-11, with the labels that each got.

#5278 Create Issue Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/installation-issue.md
Labels: component: documentation

#5326 Python: Warn old `warpx.multifab` Signature
  Source/Python/WarpX.cpp
Labels: warning, changes input scripts / defaults, component: Python

#5286 Implicit Field Solve Preconditioner based on Curl-Curl Operator
  Source/FieldSolver/ImplicitSolvers/CMakeLists.txt
  Source/FieldSolver/ImplicitSolvers/ImplicitSolver.H
  Source/FieldSolver/ImplicitSolvers/ImplicitSolver.cpp
  Source/FieldSolver/ImplicitSolvers/Make.package
  Source/FieldSolver/ImplicitSolvers/ThetaImplicitEM.H
  Source/FieldSolver/ImplicitSolvers/ThetaImplicitEM.cpp
  Source/FieldSolver/ImplicitSolvers/WarpXSolverVec.H
  Source/FieldSolver/ImplicitSolvers/WarpXSolverVec.cpp
  Source/NonlinearSolvers/CurlCurlMLMGPC.H
  Source/NonlinearSolvers/JacobianFunctionMF.H
  Source/NonlinearSolvers/NewtonSolver.H
  Source/NonlinearSolvers/Preconditioner.H
  Source/WarpX.H
Labels: enhancement, component: implicit solvers

#5424 CI: find and print backtraces
  .azure-pipelines.yml
  Examples/CMakeLists.txt
  Examples/test_cleanup.cmake
Labels: component: tests

#5434 Fix dt_update_interval argument to ElectrostaticSolver
  Python/pywarpx/picmi.py
Labels: component: PICMI, bug: affects latest release

#4943 Add `PECInsulator` boundary condition
  Docs/source/usage/parameters.rst
  Examples/Tests/pec/CMakeLists.txt
  Examples/Tests/pec/inputs_test_2d_pec_field_insulator
  Regression/Checksum/benchmarks_json/test_2d_pec_field_insulator.json
  Source/BoundaryConditions/CMakeLists.txt
  Source/BoundaryConditions/Make.package
  Source/BoundaryConditions/PEC_Insulator.H
  Source/BoundaryConditions/PEC_Insulator.cpp
  Source/BoundaryConditions/PEC_Insulator_fwd.H
  Source/BoundaryConditions/WarpXFieldBoundaries.cpp
  Source/Python/WarpX.cpp
  Source/Utils/Parser/ParserUtils.H
  Source/Utils/Parser/ParserUtils.cpp
  Source/Utils/WarpXAlgorithmSelection.H
  Source/WarpX.H
  Source/WarpX.cpp
Labels: enhancement, component: boundary

#5439 Install `lasy` on Perlmutter by default
  Tools/machines/perlmutter-nersc/install_gpu_dependencies.sh
Labels: component: documentation, machine / system

#5443 CI: build tests with `-g1` compile option
  .azure-pipelines.yml
  CMakeLists.txt
Labels: component: tests

#5445 AMReX/pyAMReX/PICSAR: weekly update
  .github/workflows/cuda.yml
  cmake/dependencies/AMReX.cmake
Labels: component: third party

#5086 Implicit add filtering
  Docs/source/developers/fields.rst
  Examples/Tests/implicit/CMakeLists.txt
  Examples/Tests/implicit/inputs_test_2d_theta_implicit_jfnk_vandb_filtered
  Regression/Checksum/benchmarks_json/test_2d_theta_implicit_jfnk_vandb_filtered.json
  Source/Evolve/WarpXEvolve.cpp
  Source/FieldSolver/ImplicitSolvers/WarpXImplicitOps.cpp
  Source/Parallelization/WarpXComm.cpp
  Source/WarpX.H
Labels: component: implicit solvers

#5446 Fixing some bugs that lead to non-convergence. Relaxing tolerance whi…
  Source/FieldSolver/MagnetostaticSolver/MagnetostaticSolver.cpp
  Source/ablastr/fields/VectorPoissonSolver.H
Labels: bug, component: boundary, component: magnetostatic

#5453 Set use_filter false for implicit evolve schemes
  Docs/source/usage/parameters.rst
  Source/WarpX.cpp
Labels: component: implicit solvers

#5027 Add strang implicit spectral em redo
  Docs/source/usage/parameters.rst
  Examples/Tests/implicit/CMakeLists.txt
  Examples/Tests/implicit/analysis_2d_psatd.py
  Examples/Tests/implicit/inputs_test_2d_theta_implicit_strang_psatd
  Regression/Checksum/benchmarks_json/test_2d_theta_implicit_strang_psatd.json
  Source/FieldSolver/ImplicitSolvers/CMakeLists.txt
  Source/FieldSolver/ImplicitSolvers/ImplicitSolverLibrary.H
  Source/FieldSolver/ImplicitSolvers/Make.package
  Source/FieldSolver/ImplicitSolvers/StrangImplicitSpectralEM.H
  Source/FieldSolver/ImplicitSolvers/StrangImplicitSpectralEM.cpp
  Source/FieldSolver/ImplicitSolvers/WarpXImplicitOps.cpp
  Source/FieldSolver/ImplicitSolvers/WarpXSolverVec.H
  Source/FieldSolver/ImplicitSolvers/WarpXSolverVec.cpp
  Source/Utils/WarpXAlgorithmSelection.H
  Source/WarpX.H
  Source/WarpX.cpp
Labels: component: spectral, component: implicit solvers

#5455 Simplify diagnostic functor setup
  Source/Diagnostics/FullDiagnostics.cpp
Labels: cleaning, component: diagnostics

#5417 Check that all E-field values are finite in Ohm solver
  Source/FieldSolver/WarpXPushFieldsHybridPIC.cpp
Labels: component: fluid-ohm

#5451 Fix PEC-Insulator boundary condition with staggering
  Examples/Tests/pec/inputs_test_2d_pec_field_insulator
  Regression/Checksum/benchmarks_json/test_2d_pec_field_insulator.json
  Source/BoundaryConditions/PEC_Insulator.cpp
Labels: component: boundary

#5441 Remove theta() function from ImplicitSolver base class.
  Source/FieldSolver/ImplicitSolvers/ImplicitSolver.H
  Source/FieldSolver/ImplicitSolvers/SemiImplicitEM.H
  Source/FieldSolver/ImplicitSolvers/SemiImplicitEM.cpp
  Source/FieldSolver/ImplicitSolvers/StrangImplicitSpectralEM.H
  Source/FieldSolver/ImplicitSolvers/StrangImplicitSpectralEM.cpp
  Source/FieldSolver/ImplicitSolvers/ThetaImplicitEM.H
  Source/FieldSolver/ImplicitSolvers/ThetaImplicitEM.cpp
  Source/NonlinearSolvers/CurlCurlMLMGPC.H
  Source/NonlinearSolvers/JacobianFunctionMF.H
  Source/NonlinearSolvers/NewtonSolver.H
  Source/NonlinearSolvers/NonlinearSolver.H
  Source/NonlinearSolvers/PicardSolver.H
Labels: cleaning, component: implicit solvers

#5058 Docs: Thomson Parabola Spectrometer example
  Docs/source/refs.bib
  Docs/source/usage/examples.rst
  Examples/Physics_applications/CMakeLists.txt
  Examples/Physics_applications/thomson_parabola_spectrometer/CMakeLists.txt
  Examples/Physics_applications/thomson_parabola_spectrometer/README.rst
  Examples/Physics_applications/thomson_parabola_spectrometer/analysis.py
  Examples/Physics_applications/thomson_parabola_spectrometer/analysis_default_openpmd_regression.py
  Examples/Physics_applications/thomson_parabola_spectrometer/inputs_test_3d_thomson_parabola_spectrometer
  Regression/Checksum/benchmarks_json/test_3d_thomson_parabola_spectrometer.json
Labels: component: documentation

#5465 Docs: update list of TC members
  GOVERNANCE.rst
Labels: component: documentation

#5462 Documentation: Clarify reduced diagnostics
  Docs/source/usage/parameters.rst
Labels: component: documentation

#5483 Split Bfield advance in two for SemiImplicit_EM evolve
  Regression/Checksum/benchmarks_json/test_1d_semi_implicit_picard.json
  Source/FieldSolver/ImplicitSolvers/SemiImplicitEM.cpp
  Source/FieldSolver/ImplicitSolvers/WarpXImplicitOps.cpp
  Source/WarpX.H
Labels: component: implicit solvers

#5485 Setting laser particle positions to be time-centered for implicit solvers
  Examples/Tests/laser_injection/CMakeLists.txt
  Examples/Tests/laser_injection/inputs_test_1d_laser_injection_implicit
  Examples/Tests/laser_injection/inputs_test_2d_laser_injection_implicit
  Regression/Checksum/benchmarks_json/test_1d_laser_injection_implicit.json
  Regression/Checksum/benchmarks_json/test_2d_laser_injection_implicit.json
  Source/Particles/LaserParticleContainer.cpp
Labels: bug: affects latest release, component: implicit solvers
