Repository BLAST-WarpX/warpx, pull requests merged in 2025-05, with the labels that each got.

#5863 Fix bug with double counting of guard cell values in effective potential ES solver
  Examples/Tests/effective_potential_electrostatic/analysis.py
  Regression/Checksum/benchmarks_json/test_3d_effective_potential_electrostatic_picmi.json
  Source/FieldSolver/ElectrostaticSolvers/EffectivePotentialES.cpp
Labels: bug, component: electrostatic, bug: affects latest release, component: parallelization

#5854 Rename linear Breit-Wheeler test and add explanation
  Examples/Tests/CMakeLists.txt
  Examples/Tests/linear_breit_wheeler/CMakeLists.txt
  Examples/Tests/linear_breit_wheeler/analysis_base.py
  Examples/Tests/linear_breit_wheeler/analysis_default_regression.py
  Examples/Tests/linear_breit_wheeler/analysis_many_photons.py
  Examples/Tests/linear_breit_wheeler/analysis_two_photons.py
  Examples/Tests/linear_breit_wheeler/inputs_test_3d_linear_breit_wheeler_many_photons
  Examples/Tests/linear_breit_wheeler/inputs_test_3d_linear_breit_wheeler_two_photons
  Regression/Checksum/benchmarks_json/test_3d_linear_breit_wheeler_many_photons.json
  Regression/Checksum/benchmarks_json/test_3d_linear_breit_wheeler_two_photons.json
Labels: component: tests, cleaning

#5869 PML_RZ.cpp: don't use WarpX::GetInstance()
  Source/BoundaryConditions/PML_RZ.H
  Source/BoundaryConditions/PML_RZ.cpp
  Source/FieldSolver/WarpXPushFieldsEM.cpp
  Source/Initialization/WarpXInitData.cpp
Labels: cleaning, component: boundary

#5853 Unify user-input names between nuclear fusion and linear Breit-Wheeler
  Docs/source/usage/parameters.rst
  Examples/Tests/nuclear_fusion/inputs_test_2d_proton_boron_fusion
  Examples/Tests/nuclear_fusion/inputs_test_3d_deuterium_deuterium_fusion
  Examples/Tests/nuclear_fusion/inputs_test_3d_deuterium_deuterium_fusion_intraspecies
  Examples/Tests/nuclear_fusion/inputs_test_3d_deuterium_tritium_fusion
  Examples/Tests/nuclear_fusion/inputs_test_3d_proton_boron_fusion
  Examples/Tests/nuclear_fusion/inputs_test_rz_deuterium_tritium_fusion
  Source/Particles/Collision/BinaryCollision/NuclearFusion/NuclearFusionFunc.H
  Source/WarpX.cpp
Labels: cleaning, changes input scripts / defaults

#5873 Fix DSMC typo for non-product producing processes
  Source/Particles/Collision/BinaryCollision/DSMC/SplitAndScatterFunc.H
Labels: component: collisions

#5876 Adding python bindings and a helper setter/getter object in python to…
  Python/pywarpx/HybridPICModel.py
  Source/Python/WarpX.cpp
Labels: component: Python

#5852 Handle impact ionization for cases where the non-target incident species is not in the products
  Examples/Tests/ionization_dsmc/CMakeLists.txt
  Examples/Tests/ionization_dsmc/analysis_ionization_dsmc_1d.py
  Examples/Tests/ionization_dsmc/inputs_test_1d_ionization_neutral_dsmc
  Regression/Checksum/benchmarks_json/test_1d_ionization_neutral_dsmc.json
  Source/Particles/Collision/BinaryCollision/DSMC/SplitAndScatterFunc.H
  Source/Particles/Collision/BinaryCollision/DSMC/SplitAndScatterFunc.cpp
Labels: component: collisions

#5850 adastra-cines/submit.sh: updated job script example
  Docs/source/install/hpc/adastra.rst
  Tools/machines/adastra-cines/submit.sh
Labels: component: documentation, machine / system

#5881 use verbose flag in nonlinear solvers for Print() lines.
  Source/NonlinearSolvers/NewtonSolver.H
  Source/NonlinearSolvers/PicardSolver.H
Labels: component: implicit solvers

#5885 Update frontier_warpx.profile.example
  Tools/machines/frontier-olcf/frontier_warpx.profile.example
Labels: install, machine / system

#5787 WarpXFluidContainer::InitData : pass parameters as function arguments instead of using static variables of the WarpX class
  Source/Fluids/MultiFluidContainer.H
  Source/Fluids/MultiFluidContainer.cpp
  Source/Fluids/WarpXFluidContainer.H
  Source/Fluids/WarpXFluidContainer.cpp
  Source/Utils/WarpXMovingWindow.cpp
  Source/WarpX.cpp
Labels: cleaning, component: fluid

#5800 Move auxiliary function CountExtFaces from WarpX header to anonymous namespace in WarpXFaceExtensions
  Source/EmbeddedBoundary/WarpXFaceExtensions.cpp
  Source/WarpX.H
Labels: cleaning, component: boundary

#5882 moving Implicit routines from WarpX class to base ImplicitSolver class
  Source/FieldSolver/ImplicitSolvers/ImplicitSolver.H
  Source/FieldSolver/ImplicitSolvers/ImplicitSolver.cpp
  Source/FieldSolver/ImplicitSolvers/SemiImplicitEM.cpp
  Source/FieldSolver/ImplicitSolvers/StrangImplicitSpectralEM.cpp
  Source/FieldSolver/ImplicitSolvers/ThetaImplicitEM.cpp
  Source/FieldSolver/ImplicitSolvers/WarpXImplicitOps.cpp
  Source/Parallelization/WarpXComm.cpp
  Source/WarpX.H
Labels: cleaning, component: implicit solvers

#5884 Dependencies: Weekly Update
  .github/workflows/cuda.yml
  cmake/dependencies/AMReX.cmake
  cmake/dependencies/pyAMReX.cmake
Labels: component: third party

#5893 PML_RZ: don't use warpx static variables directly
  Source/BoundaryConditions/PML_RZ.H
  Source/BoundaryConditions/PML_RZ.cpp
  Source/Parallelization/WarpXComm.cpp
Labels: cleaning, component: boundary

#5895 Remove superfluous if condition in impact ionization
  Source/Particles/Collision/BinaryCollision/DSMC/SplitAndScatterFunc.H
Labels: component: collisions

#5903 AcceleratorLattice.cpp: fix typo in a comment
  Source/AcceleratorLattice/AcceleratorLattice.cpp
Labels: cleaning

#5900 Dependencies: Weekly Update
  .github/workflows/cuda.yml
  cmake/dependencies/AMReX.cmake
Labels: component: third party

#5889 CI: Fix Skipped Required Workflows
  .github/workflows/check_changes.yml
  .github/workflows/clang_sanitizers.yml
  .github/workflows/clang_tidy.yml
  .github/workflows/cuda.yml
  .github/workflows/hip.yml
  .github/workflows/insitu.yml
  .github/workflows/intel.yml
  .github/workflows/jupyter.yml
  .github/workflows/macos.yml
  .github/workflows/petsc.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Labels: component: tests

#5871 Pass Efield as optional argument to `computePhi`
  Source/FieldSolver/ElectrostaticSolvers/EffectivePotentialES.H
  Source/FieldSolver/ElectrostaticSolvers/EffectivePotentialES.cpp
  Source/FieldSolver/ElectrostaticSolvers/ElectrostaticSolver.H
  Source/FieldSolver/ElectrostaticSolvers/ElectrostaticSolver.cpp
  Source/FieldSolver/ElectrostaticSolvers/LabFrameExplicitES.cpp
Labels: cleaning, component: electrostatic

#5912 Dependencies: Weekly Update
  .github/workflows/cuda.yml
  cmake/dependencies/AMReX.cmake
Labels: component: third party

#5914 CI: Update PETSc Workflows
  .github/workflows/petsc.yml
Labels: component: tests

#5920 Fix table in Docs/source/developers/dimensionality.rst
  Docs/source/developers/dimensionality.rst
Labels: component: documentation

#5922 For FieldEnergy, use validbox instead of tilebox for the volume factor
  Source/Diagnostics/ReducedDiags/FieldEnergy.cpp
Labels: bug, component: diagnostics
